%section.slice.slice-lg
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3.d-none.d-md-block
        .card.border-primary.bg-dark
          .card-body.text-white
            %h4.card-title.text-white Positions available:
            %ul
              %li Parking (AM)
              %li Aid Station (AM & PM)
              %li Finish Line
              %li Pizza Kitchen (PM)
              %li Course Tear Down (PM)

      .col-sm-12.col-md-8.col-lg-6
        .card.border-primary
          .card-body
            %h4 Start your Volunteer Registration
            %p
              We are so excited you decided to help! Please be aware this does not obligate you or guarantee you a volunteer position. We will follow up with details!
            %hr
            = render "form"
