%section.parallaxy.bg-cover.bg-size--cover{:style => "background-image: url(#{asset_url('https://live.staticflickr.com/65535/50490421496_9680f9a248_b.jpg')})"}
  %span.mask.bg-tertiary.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.align-items-center.text-md-left.justify-content-center
          .col-lg-7
            .covid-procedures
              %h1 How We Are Operating During COVID-19
              %p
                Please know that we value the safety of our community and are continuously working to balance your safety with our shared desire to foster community and competition within the trail running and racing community. Our starting point is to lean on local, state, and federal guidelines. We draw on the following principles to guide our operating procedures and decision-making processes.
              %h2 CDC Guidelines
              %p A detailed description of the CDC’s COVID-19 Operating procedures for event organizers can be found here:
              %p= link_to "https://www.cdc.gov/coronavirus/2019-ncov/community/large-events/considerations-for-events-gatherings.html", "https://www.cdc.gov/coronavirus/2019-ncov/community/large-events/considerations-for-events-gatherings.html", target: "_blank"
              %p The most important factors for us to consider are to:
              %ul
                %li Encourage race registrants to stay home if they are feeling even minorly ill or have recently been in contact with an infected person
                %li Facilitate and encourage proper hand hygiene and respiratory etiquette following CDC guidelines as outlined by the CDC at the link provided above
                %ul
                  %li We will provide hand sanitizer
                  %li If we have to provide portable toilets, we will provide hand sanitizer and a handwashing station
                %li Encourage participants to practice social distancing by maintaining at least six feet of separation between themselves and any participant who is not a member of the immediate household
                %li Require the use of masks when maintaining social distancing is not possible, including while running on trails
                %li If not already present, place signs in high trafficked areas reminding participants to practice social distancing and wear masks where social distancing is not practical or possible
                %li Limit the number of participants allowed in the restroom at any given time (we will follow park guidelines here) and ensure, through signage if applicable, that participants maintain six feet of separation while waiting in line
                %li We will avoid food service as a safety precaution to minimize the possible spread of the novel coronavirus
                %li At aid stations, only water will be provided using a touchless nozzle system
              %h2 Texas State Guidelines Beyond Federal CDC Guidelines
              %p Full details of state health guidelines for COVID-19 can be found here:
              %p= link_to "https://dshs.texas.gov/coronavirus/opentexas.aspx#outdoor", "https://dshs.texas.gov/coronavirus/opentexas.aspx#outdoor", target: "_blank"
              %p The key guideline we must accommodate is that “Individuals may not be in a group larger than 10 individuals.”
              %ul
                %li We will use staggered start times sending off groups of 8 athletes (plus 2 race directors) every 10 minutes
              %h2 County Guidelines Beyond State DHS Guidelines
              %p We will follow County guidelines specific to our various race locations if and when they are available.
              %h2 Additional Considerations Specific to Race Events
              %p Race timing will follow one of two approaches:
              %ul
                %li Manual timing of participants that requires no exchange of timing chips
                %li Distribution of clean timing chips that are deposited in a bucket of soap and water by the individual participants at the end of the race
                %li Participants will be required to provide their own race food which they can place at the start-finish area (if they are running the 20 or 30 mile options)
                %li “Drop bags” will be set in a designated drop bag area where space will be provided for racers to access their drop bags and carry them away to a safe distance for use during a race
              %h2 Specific Race Considerations
              %p Please check the web page of any race you are considering running in order to understand the location and event specifics of logistics like chip timing, drop bags, and start waves.
