%section.parallaxy.bg-cover.bg-size--cover{:style => "background-image: url(#{asset_url('https://live.staticflickr.com/65535/50490421496_9680f9a248_b.jpg')})"}
  %span.mask.bg-tertiary.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.align-items-center.text-md-left.justify-content-center
          .col-lg-7
            .covid-procedures-markdown
              = markdown_file('covid.md')
