%section.spotlight.bg-cover.bg-size--cover{"data-spotlight" => "fullscreen", style: "background-image: url(#{asset_url('https://lh3.googleusercontent.com/QiAXD8no1sV484afJ3yrfg-zD3NfpcaFrOFqD0sVCaa5QL-pyFLl5YI6F36BP_TzcbAPsJN4cGtHoJGeIfy2jkcHmcBfU02kGt_2Ha9Q08D0gqObY92xg-xGrEPQxySAdu53xd4m9AWyKxquSMgEWwtmb8lAx717mU-WVbWRGwDDtsGM2TUZol4C2H6CI3iwlk61iic3yC5WTkf3xZpKn9vPvfVbJCPSWor-pLQ63OiZZvcLhiWj0gdamFKJN6kRbNJk6sltsUVrwx11QT5Mb4IAxtLEfdXZ2MG0jnQom0ZSUqD0jHXOY82Yabse-TmFENn-rOkQpou_h7RMcBC8AMc3AW3Fi9gRkxuINlNejoWmsplOi1maX80bP6vOW82vDB5EJ_5pt9PNI45b__DVRYHwZwaQwFxeU_qpaKlJO2hf1RZ2YCjJiAe8V23FDZ1i8L2O4_iLKiMzf8I8p9rkKrQ7fu8dbABRSVwu8rAYbcNJiP1Y2SBu5Lv7rKkogkjiVTKvMZ-KkNTPI6psNrtqhChEFqCzoB3HwMeAxzr6t0zQCcl0xxYz-aCpxsdJa8DbKx6b0MzUXbqCPyL76XqZgeYS4FFS6L041_Y5ygrlib-noqf6psxhcVJKmWqMM9w5pwkkI5yynahHiQu3Z1HBBv4qVpX6UCWzP8VMyVeY8OC3M-jLcUztcLqddMylqbKt6oEiBZ4XIauRpJLwLT8=w2126-h1594-no')})"}
  %span.mask.bg-dark.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.text-center.text-md-left.justify-content-center
          .col-lg-10
            .text-center.mt-5
              %h1.heading.h1.text-white
                The Best Trail Racing in Texas
              %p.lead.lh-180.text-white.mt-3
                %strong.text-info Spectrum Trail Racing
                is a community of hard working, big loving, long-running trail blazers.
                Looking to make friends or test your distance or speed limits? You’re in the right place.
              .mt-5
                %a.btn.btn-primary.mr-3{href: "#"} Our Races
                %a.btn.btn-secondary{href: "#"} About Us
%section.slice-lg
  .container
    .row.align-items-center.cols-xs-space.cols-sm-space.cols-md-space
      .col-lg-6.order-lg-2.ml-lg-auto
        .block.block-image
          %img.img-fluid.img-center{src: asset_path("device-1.png")}/
      .col-lg-5.order-lg-1
        .row-wrapper
          .row
            .col
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fab.fa-twitter
                .icon-text
                  %h3.heading.h4 Latest Bootstrap framework
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
          .row
            .col
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fab.fa-sass
                .icon-text
                  %h3.heading.h4
                    Built with Sass
                    %small (included)
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
          .row
            .col
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fas.fa-tint
                .icon-text
                  %h3.heading.h4 Extended color palette
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
%section
  .container-fluid.px-0
    .card-group.flex-column.flex-md-row
      .card.bg-primary.text-white.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2.text-white Theme as framework
          %p.mt-4
            Boomerang was designed as its own extended version of Bootstrap, built for offering a complete solution for various industries — business, real estate, travel and much more.
          %a.btn.btn-secondary.mt-4{:href => "#"} Learn more
      .card.bg-secondary.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2 Even more components
          %p.mt-4
            We know how much you love Bootstrap components. That's why we've customized, and also, introduced dozens of completely new utilities, components and plugins.
          %a.btn.btn-primary.mt-4{:href => "#"} Learn more
      .card.bg-tertiary.text-white.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2.text-white Tons of variables
          %p.mt-4
            Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values and the theme adapts. Customization has never been easier.
          %a.btn.btn-secondary.mt-4{:href => "#"} Learn more
%section.slice.slice-lg
  .container
    .mb-5.text-center
      %h3.heading.h2 Explore more features by selecting a plan
      .fluid-paragraph.text-center
        %p.lead.mb-0 Choose the best solution for your business.
    .text-center.mb-5
      .btn-group{"aria-label" => "Basic example", :role => "group"}
        %button.btn.btn-secondary.active{:type => "button"} Monthly billing
        %button.btn.btn-secondary{:type => "button"} Yearly billing
    .card-deck.mb-3
      .card.card-pricing.text-center.px-3.mb-4
        .card-header.py-4
          %h4.mb-4 Free
          %h1.display-4.text-primary.text-center $0
          %span.h6.text-muted per month
        .card-body
          %ul.list-unstyled.mb-4
            %li Up to 5 users
            %li Basic support on Github
            %li Monthly updates
            %li Free cancelation
          %button.btn.btn-primary.mb-3{:type => "button"} Start free trial
      .card.card-pricing.popular.text-center.px-3.mb-4.z-depth-3
        .card-header.py-4
          %h4.mb-4 Multiple Use
          %h1.display-4.text-primary.text-center $49
          %span.h6.text-muted per month
        .card-body
          %ul.list-unstyled.mb-4
            %li Up to 15 users
            %li Premium email support
            %li Weekly updates
            %li Free cancelation
          %button.btn.btn-primary.mb-3{:type => "button"} Start free trial
      .card.card-pricing.text-center.px-3.mb-4
        .card-header.py-4
          %h4.mb-4 Extended Use
          %h1.display-4.text-primary.text-center $199
          %span.h6.text-muted per month
        .card-body
          %ul.list-unstyled.mb-4
            %li Unlimited users
            %li One on one support
            %li Weekly updates
            %li Free cancelation
          %button.btn.btn-primary.mb-3{:type => "button"} Start free trial
%section.slice.sct-color-1
  .container
    .row.cols-xs-space.cols-sm-space.align-items-center
      .col-md-6
        %img.img-center.img-fluid.rounded.z-depth-3{src: asset_path("img-1-1000x900")}/
      .col-md-6.col-lg-5.ml-lg-auto
        .pr-md-4
          %h3.heading.heading-3.strong-500
            Start building now a beautiful website.
          %p.lead.text-gray.mt-4
            Take up one idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
%section.slice.bg-primary
  .container
    .row.align-items-center.cols-xs-space.cols-sm-space.cols-md-space.text-center.text-lg-left
      .col-lg-7
        %h1.heading.h2.text-white.strong-500
          Need more information about Boomerang UI Kit?
        %p.lead.text-white.mb-0 Take up one idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
      .col-lg-3.ml-lg-auto
        .text-center.text-md-right
          %a.btn.bg-secondary{:href => "#"}
            Contact us
%section.slice.slice-lg
  .container
    .mb-5.text-center
      %h3.heading.h2 Stay tuned with our company news
      .fluid-paragraph.text-center
        %p.lead.mb-0 Daily insights from our company
    .row.cols-md-space.cols-sm-space.cols-xs-space
      .col-lg-4
        .card.border-0
          %img.img-fluid.img-center.rounded.z-depth-2{src: asset_path("img-1-800x600")}/
          .pt-4
            %span.text-muted Oct 15, 2018
            %a.heading.h4.d-block.mt-1{:href => "#"} Listen to the nature
            %p.mt-3
              When we strive to become better than we are, everything around us becomes better, too.
      .col-lg-4
        .card.border-0
          %img.img-fluid.img-center.rounded.z-depth-2{src: asset_path("img-2-800x600")}/
          .pt-4
            %span.text-muted Oct 15, 2018
            %a.heading.h4.d-block.mt-1{:href => "#"} Listen to the nature
            %p.mt-3
              When we strive to become better than we are, everything around us becomes better, too.
      .col-lg-4
        .card.border-0
          %img.img-fluid.img-center.rounded.z-depth-2{src: asset_path("img-3-800x600")}/
          .pt-4
            %span.text-muted Oct 15, 2018
            %a.heading.h4.d-block.mt-1{:href => "#"} Listen to the nature
            %p.mt-3
              When we strive to become better than we are, everything around us becomes better, too.
    .text-center.mt-5
      %a.text-uppercase{:href => "#"}
        All posts
        %i.fas.fa-arrow-right.ml-2
