%section.spotlight.parallax.bg-cover.bg-size--cover{"data-spotlight" => "fullscreen", :style => "background-image: url('assets/images/backgrounds/img-1.jpg')"}
  %span.mask.bg-primary.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.align-items-center.text-center.text-md-left.justify-content-center
          .col-7
            .text-center.mt-5
              %img.img-fluid.animated{"data-animation-delay" => "1000", "data-animation-in" => "jackInTheBox", :src => "assets/images/brand/icon.png", :style => "width: 200px;"}/
              %h2.heading.display-4.font-weight-400.text-white.mt-5.animated{"data-animation-delay" => "2000", "data-animation-in" => "fadeInUp"}
                %span.font-weight-700 Boomerang
                UI Kit
              %p.lead.text-white.mt-3.lh-180.c-white.animated{"data-animation-delay" => "2500", "data-animation-in" => "fadeInUp"}
                Free HTML UI Kit based on the well known Bootstrap 4 Framework brought to you by
                %strong.text-white Webpixels
%section.slice.slice-lg
  .container
    .row.justify-content-center
      .col-lg-10
        / Typography
        .row.align-items-center.mb-5
          .col-8
            %h2.heading.h3.mb-0 Typography
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/typography.html"} Open in Docs
        .row.typeface-palette.cols-xs-space.cols-sm-space.cols-md-space
          .col-sm-4
            %a
              .typeface-entry
                %span.badge.badge-md.typeface-badge.badge-pill.bg-primary.text-white Regular
                %h3.heading.display-3.font-weight-400.text-dark
                  Aa
                %p
                  Mist enveloped the ship three hours out from port.
          .col-sm-4
            %a
              .typeface-entry
                %span.badge.badge-md.typeface-badge.badge-pill.bg-primary.text-white Semi-bold
                %h3.heading.display-3.font-weight-600.text-dark
                  Aa
                %p
                  A shining crescent far beneath the flying.
          .col-sm-4
            %a{"data-value" => "'Quicksand', sans-serif"}
              .typeface-entry
                %span.badge.badge-md.typeface-badge.badge-pill.bg-primary.text-white Bold
                %h3.heading.display-3.font-weight-700.text-dark
                  Aa
                %p
                  A shining crescent far beneath the flying.
        / Color palette
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Color palette
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/colors.html"} Open in Docs
        %p Boomerang has extended the color palette that Bootstrap offers by default. Instead of two primary colors, you get now three. These can be easily customized using the included Sass files.
        .row-wrapper
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Primary colors
          .row.color-palette.cols-xs-space.cols-sm-space.cols-md-space
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Primary"}
                .color-entry.bg-primary
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#288cff
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Secondary"}
                .color-entry.bg-secondary
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#e8f2ff
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Tertiary"}
                .color-entry.bg-tertiary
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#192b3f
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Other colors
          .row.color-palette.cols-xs-space.cols-sm-space.cols-md-space
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Warning"}
                .color-entry.bg-warning
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#ff3b00
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Danger"}
                .color-entry.bg-danger
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#ff0033
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Success"}
                .color-entry.bg-success
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#43c115
          .row.color-palette.cols-xs-space.cols-sm-space.cols-md-space
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Warning"}
                .color-entry.bg-info
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#73e9ef
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Danger"}
                .color-entry.bg-dark
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#3f87f5
            .col-4
              %a{"data-toggle" => "tooltip", :href => "#", :title => "Success"}
                .color-entry.bg-light
                  %span.color-code.z-depth-2.font-weight-bold.text-uppercase.rounded
                    \#3f87f5
        / Form elements
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Form elements
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/forms.html"} Open in Docs
        %p.mb-5 We have extended the form functionalities by including more options and plugins such as: selectpickers, input masks, sliders, tags input, toggle switches, custom checkboxes and radio buttons. It is, by far, the most complete free UI Kit version ever offered. Curious about how the PRO version will be like? Stay tuned!
        .row-wrapper
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              .form-group
                %input.form-control{:placeholder => "Default", :type => "text"}/
            .col-lg-3.col-md-6
              .form-group
                %input.form-control.is-valid{:placeholder => "Is valid", :type => "text"}/
            .col-lg-3.col-md-6
              .form-group
                %input.form-control.is-invalid{:placeholder => "Is invalid", :type => "text"}/
            .col-lg-3.col-md-6
              .form-group
                %input.form-control{:disabled => "disabled", :placeholder => "Disabled", :type => "text"}/
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              .form-group
                .input-group.input-group-transparent.mb-4
                  .input-group-prepend
                    %span.input-group-text
                      %i.fas.fa-search
                  %input.form-control{:placeholder => "Search", :type => "text"}/
            .col-lg-3.col-md-6
              .form-group
                .input-group.input-group-transparent.mb-4
                  .input-group-prepend
                    %span.input-group-text
                      %i.fas.fa-user
                  %input.form-control{:placeholder => "Username", :type => "text"}/
            .col-lg-3.col-md-6
              .form-group
                .input-group.input-group-transparent.mb-4
                  %input.form-control{:placeholder => "Birthday", :type => "text"}/
                  .input-group-append
                    %span.input-group-text
                      %i.fas.fa-calendar
            .col-lg-3.col-md-6
              .form-group
                .input-group.input-group-transparent.mb-4
                  %input.form-control{:placeholder => "Credit card", :type => "text"}/
                  .input-group-append
                    %span.input-group-text
                      %i.fas.fa-credit-card
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Selectpickers
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %select.selectpicker{:title => "Simple select"}
                %option Alerts
                %option Badges
                %option Buttons
                %option Cards
                %option Forms
                %option Modals
            .col-lg-3.col-md-6
              %select.selectpicker{:title => "Option groups"}
                %optgroup{:label => "Components"}
                  %option Alerts
                  %option Badges
                  %option Buttons
                  %option Cards
                %optgroup{:label => "Utilities"}
                  %option Borders
                  %option Colors
                  %option Typography
            .col-lg-3.col-md-6
              %select.selectpicker{:multiple => "multiple", :title => "Multiple select"}
                %option Alerts
                %option Badges
                %option Buttons
                %option Cards
                %option Forms
                %option Modals
                %option Borders
                %option Colors
                %option Typography
            .col-lg-3.col-md-6
              %select.selectpicker{"data-selected-text-format" => "count", :multiple => "multiple", :title => "Selected text format"}
                %option Alerts
                %option Badges
                %option Buttons
                %option Cards
                %option Forms
                %option Modals
                %option Borders
                %option Colors
                %option Typography
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %select.selectpicker{"data-live-search" => "true", "data-live-search-placeholder" => "Search ...", :title => "Live search"}
                %option Alerts
                %option Badges
                %option Buttons
                %option Cards
                %option Forms
                %option Modals
                %option Borders
                %option Colors
                %option Typography
            .col-lg-3.col-md-6
              %select.selectpicker{"data-live-search" => "true", :title => "Keyword search"}
                %option{"data-tokens" => "alerts notifications"} Alerts
                %option{"data-tokens" => "badges labels"} Badges
                %option{"data-tokens" => "buttons links"} Buttons
                %option{"data-tokens" => "cards content"} Cards
                %option{"data-tokens" => "forms input"} Forms
                %option{"data-tokens" => "typography headings paragraphs"} Typography
            .col-lg-3.col-md-6
              %select.selectpicker{:title => "Icons"}
                %option{"data-icon" => "fas fa-bell"} Alerts
                %option{"data-icon" => "fas fa-certificate"} Badges
                %option{"data-icon" => "fas fa-square"} Cards
                %option{"data-icon" => "fas fa-wpforms"} Forms
                %option{"data-icon" => "fas fa-window-maximize"} Modals
            .col-lg-3.col-md-6
              %select.selectpicker{:title => "Subtext"}
                %option{"data-subtext" => "This is a subtext"} Hot Dog, Fries and a Soda
                %option{"data-subtext" => "This is a subtext"} Burger, Shake and a Smile
                %option{"data-subtext" => "This is a subtext"} Sugar, Spice and all things nice
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %select.selectpicker{"data-style" => "btn-primary", :title => "Primary color"}
                %option Alerts
                %option Badges
                %option Buttons
                %option Cards
                %option Forms
            .col-lg-3.col-md-6
              %select.selectpicker{"data-style" => "btn-success", :title => "Success color"}
                %option Alerts
                %option Badges
                %option Buttons
                %option Cards
                %option Forms
            .col-lg-3.col-md-6
              %select.selectpicker{"data-style" => "btn-danger", :title => "Danger color"}
                %option Alerts
                %option Badges
                %option Buttons
                %option Cards
                %option Forms
            .col-lg-3.col-md-6
              %select.selectpicker{"data-style" => "btn-warning", :title => "Warning color"}
                %option Alerts
                %option Badges
                %option Buttons
                %option Cards
                %option Forms
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Tags input
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-12
              .example
                %input.form-control{"data-role" => "tagsinput", :type => "text", :value => "Amsterdam,Washington,Sydney,Beijing,Cairo"}/
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-6
              %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Checkboxes
              .row.cols-xs-space.cols-sm-space.cols-md-space
                .col-md-6
                  .custom-control.custom-checkbox.mb-3
                    %input#customCheck1.custom-control-input{:type => "checkbox"}/
                    %label.custom-control-label{:for => "customCheck1"} Unchecked
                  .custom-control.custom-checkbox.mb-3
                    %input#customCheck2.custom-control-input{:checked => "checked", :type => "checkbox"}/
                    %label.custom-control-label{:for => "customCheck2"} Checked
                  .custom-control.custom-checkbox.mb-3
                    %input#customCheck3.custom-control-input{:disabled => "disabled", :type => "checkbox"}/
                    %label.custom-control-label{:for => "customCheck3"} Disabled unchecked
                  .custom-control.custom-checkbox.mb-3
                    %input#customCheck4.custom-control-input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}/
                    %label.custom-control-label{:for => "customCheck4"} Disabled checked
                .col-md-6
                  .custom-control.custom-checkbox.mb-3
                    %input#customCheck5.custom-control-input.is-valid{:type => "checkbox"}/
                    %label.custom-control-label{:for => "customCheck5"} Valid checkbox
                  .custom-control.custom-checkbox.mb-3
                    %input#customCheck6.custom-control-input.is-invalid{:type => "checkbox"}/
                    %label.custom-control-label{:for => "customCheck6"} Invalid checkbox
            .col-lg-6
              %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Radios
              .row.cols-xs-space.cols-sm-space.cols-md-space
                .col-md-6
                  .custom-control.custom-radio.mb-3
                    %input#customRadio1.custom-control-input{:name => "custom-radio-1", :type => "radio"}/
                    %label.custom-control-label{:for => "customRadio1"} Unchecked
                  .custom-control.custom-radio.mb-3
                    %input#customRadio2.custom-control-input{:checked => "checked", :name => "custom-radio-1", :type => "radio"}/
                    %label.custom-control-label{:for => "customRadio2"} Checked
                  .custom-control.custom-radio.mb-3
                    %input#customRadio3.custom-control-input{:disabled => "disabled", :name => "custom-radio-1", :type => "radio"}/
                    %label.custom-control-label{:for => "customRadio3"} Disabled unchecked
                  .custom-control.custom-radio.mb-3
                    %input#customRadio4.custom-control-input{:checked => "checked", :disabled => "disabled", :name => "custom-radio-1", :type => "radio"}/
                    %label.custom-control-label{:for => "customRadio4"} Disabled checkbox
                .col-md-6
                  .custom-control.custom-radio.mb-3
                    %input#customRadio5.custom-control-input.is-valid{:name => "custom-radio-1", :type => "radio"}/
                    %label.custom-control-label{:for => "customRadio5"} Valid radio
                  .custom-control.custom-radio.mb-3
                    %input#customRadio6.custom-control-input.is-invalid{:checked => "checked", :name => "custom-radio-1", :type => "radio"}/
                    %label.custom-control-label{:for => "customRadio6"} Invalid radio
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Switches
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %label.d-block Untoggled switch
              %label.toggle-switch
                %input{:type => "checkbox"}/
                %span.toggle-switch-slider
            .col-lg-3.col-md-6
              %label.d-block Toggled switch
              %label.toggle-switch
                %input{:checked => "checked", :type => "checkbox"}/
                %span.toggle-switch-slider
            .col-lg-3.col-md-6
              %label.d-block Disabled switch
              %label.toggle-switch
                %input{:disabled => "disabled", :type => "checkbox"}/
                %span.toggle-switch-slider
            .col-lg-3.col-md-6
              %label.d-block Disabled switch
              %label.toggle-switch
                %input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}/
                %span.toggle-switch-slider
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %label.d-block Untoggled switch
              %label.toggle-switch
                %input{:type => "checkbox"}/
                %span.toggle-switch-slider.rounded-circle
            .col-lg-3.col-md-6
              %label.d-block Toggled switch
              %label.toggle-switch
                %input{:checked => "checked", :type => "checkbox"}/
                %span.toggle-switch-slider.rounded-circle
            .col-lg-3.col-md-6
              %label.d-block Disabled switch
              %label.toggle-switch
                %input{:disabled => "disabled", :type => "checkbox"}/
                %span.toggle-switch-slider.rounded-circle
            .col-lg-3.col-md-6
              %label.d-block Disabled switch
              %label.toggle-switch
                %input{:checked => "checked", :disabled => "disabled", :type => "checkbox"}/
                %span.toggle-switch-slider.rounded-circle
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Sliders
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-6
              / Default input slider
              .input-slider-container
                #input-slider.input-slider{"data-range-value-max" => "500", "data-range-value-min" => "100"}
                / Input slider values
                .row.mt-3
                  .col-6
                    %span#input-slider-value.range-slider-value{"data-range-value-low" => "100"}
            .col-lg-6
              .range-slider-wrapper
                / Range slider container
                #input-slider-range{"data-range-value-max" => "500", "data-range-value-min" => "100"}
                / Range slider values
                .row.cols-xs-space.cols-sm-space.cols-md-space
                  .col-6
                    %span#input-slider-range-value-low.range-slider-value.value-low{"data-range-value-low" => "200"}
                  .col-6.text-right
                    %span#input-slider-range-value-high.range-slider-value.value-high{"data-range-value-high" => "400"}
        / Buttons
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Buttons
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/buttons.html"} Open in Docs
        %p.mb-5 Beautiful buttons with plenty of options and styles, including the animated and social versions.
        .row-wrapper
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %h3.heading.h6.text-uppercase.text-primary.mb-4 Primary
              %button.btn.btn-block.btn-primary{:type => "button"} Default
              %button.btn.btn-block.btn-primary.active{:type => "button"} Active
              %button.btn.btn-block.btn-primary{:disabled => "disabled", :type => "button"} Disabled
              %button.btn.btn-block.btn-primary{:type => "button"}
                %i.fas.fa-circle-notch.fa-spin
              %button.btn.btn-block.btn-outline-primary.mt-5{:type => "button"} Outline
              %button.btn.btn-block.btn-outline-primary.active{:type => "button"} Outline Active
              %button.btn.btn-block.btn-outline-primary{:disabled => "disabled", :type => "button"} Outline Disabled
            .col-lg-3.col-md-6
              %h3.heading.h6.text-uppercase.text-primary.mb-4 Secondary
              %button.btn.btn-block.btn-secondary{:type => "button"} Default
              %button.btn.btn-block.btn-secondary.active{:type => "button"} Active
              %button.btn.btn-block.btn-secondary{:disabled => "disabled", :type => "button"} Disabled
              %button.btn.btn-block.btn-secondary{:type => "button"}
                %i.fas.fa-circle-notch.fa-spin
              %button.btn.btn-block.btn-outline-secondary.mt-5{:type => "button"} Outline
              %button.btn.btn-block.btn-outline-secondary.active{:type => "button"} Outline Active
              %button.btn.btn-block.btn-outline-secondary{:disabled => "disabled", :type => "button"} Outline Disabled
            .col-lg-3.col-md-6
              %h3.heading.h6.text-uppercase.text-primary.mb-4 Tertiary
              %button.btn.btn-block.btn-tertiary{:type => "button"} Default
              %button.btn.btn-block.btn-tertiary.active{:type => "button"} Active
              %button.btn.btn-block.btn-tertiary{:disabled => "disabled", :type => "button"} Disabled
              %button.btn.btn-block.btn-tertiary{:type => "button"}
                %i.fas.fa-circle-notch.fa-spin
              %button.btn.btn-block.btn-outline-tertiary.mt-5{:type => "button"} Outline
              %button.btn.btn-block.btn-outline-tertiary.active{:type => "button"} Outline Active
              %button.btn.btn-block.btn-outline-tertiary{:disabled => "disabled", :type => "button"} Outline Disabled
            .col-lg-3.col-md-6
              %h3.heading.h6.text-uppercase.text-primary.mb-4 Danger
              %button.btn.btn-block.btn-danger{:type => "button"} Default
              %button.btn.btn-block.btn-danger.active{:type => "button"} Active
              %button.btn.btn-block.btn-danger{:disabled => "disabled", :type => "button"} Disabled
              %button.btn.btn-block.btn-danger{:type => "button"}
                %i.fas.fa-circle-notch.fa-spin
              %button.btn.btn-block.btn-outline-danger.mt-5{:type => "button"} Outline
              %button.btn.btn-block.btn-outline-danger.active{:type => "button"} Outline Active
              %button.btn.btn-block.btn-outline-danger{:disabled => "disabled", :type => "button"} Outline Disabled
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-12
              %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Animated
              .btn-container
                %button.btn.btn-primary.btn-animated.btn-animated-x{:type => "button"}
                  %span.btn-inner--visible Play music
                  %span.btn-inner--hidden
                    %i.fas.fa-play
                %button.btn.btn-secondary.btn-animated.btn-animated-y{:type => "button"}
                  %span.btn-inner--hidden Buy
                  %span.btn-inner--visible
                    %i.fas.fa-shopping-cart
                %button.btn.btn-primary.btn-animated.btn-animated-x{:type => "button"}
                  %span.btn-inner--visible Next step
                  %span.btn-inner--hidden
                    %i.fas.fa-arrow-right
                %button.btn.btn-dark.btn-animated.btn-animated-y{:type => "button"}
                  %span.btn-inner--visible
                    %i.fas.fa-play
                  %span.btn-inner--hidden
                    %i.fas.fa-pause
              .row.cols-xs-space.cols-sm-space.cols-md-space
                .col-lg-6
                  %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Only icons
                  .btn-container
                    %button.btn.btn-primary.btn-icon-only{:type => "button"}
                      %span.btn-inner--icon
                        %i.fas.fa-user
                    %button.btn.btn-secondary.btn-icon-only{:type => "button"}
                      %span.btn-inner--icon
                        %i.fas.fa-arrow-left
                    %button.btn.btn-danger.btn-icon-only{:type => "button"}
                      %span.btn-inner--icon
                        %i.fas.fa-trash-alt
                .col-lg-6
                  %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Rounded circle
                  .btn-container
                    %button.btn.btn-primary.btn-icon-only.rounded-circle{:type => "button"}
                      %span.btn-inner--icon
                        %i.fas.fa-user
                    %button.btn.btn-secondary.btn-icon-only.rounded-circle{:type => "button"}
                      %span.btn-inner--icon
                        %i.fas.fa-arrow-left
                    %button.btn.btn-danger.btn-icon-only.rounded-circle{:type => "button"}
                      %span.btn-inner--icon
                        %i.fas.fa-trash-alt
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Social buttons
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-facebook.btn-icon-label{:type => "button"}
                %span.btn-inner--icon
                  %i.fab.fa-facebook
                %span.btn-inner--text Facebook
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-twitter.btn-icon-label{:type => "button"}
                %span.btn-inner--icon
                  %i.fab.fa-twitter
                %span.btn-inner--text Twitter
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-google-plus.btn-icon-label{:type => "button"}
                %span.btn-inner--icon
                  %i.fab.fa-google-plus-g
                %span.btn-inner--text Google +
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-instagram.btn-icon-label{:type => "button"}
                %span.btn-inner--icon
                  %i.fab.fa-instagram
                %span.btn-inner--text Instagram
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-pinterest.btn-icon-label{:type => "button"}
                %span.btn-inner--icon
                  %i.fab.fa-pinterest
                %span.btn-inner--text Pinterest
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-youtube.btn-icon-label{:type => "button"}
                %span.btn-inner--icon
                  %i.fab.fa-youtube
                %span.btn-inner--text Youtube
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-slack.btn-icon-label{:type => "button"}
                %span.btn-inner--icon
                  %i.fab.fa-slack
                %span.btn-inner--text Slack
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-dribbble.btn-icon-label{:type => "button"}
                %span.btn-inner--icon
                  %i.fab.fa-dribbble
                %span.btn-inner--text Dribbble
        / Dropdown
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Dropdown
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/dropdowns.html"} Open in Docs
        %p.mb-5
          Can this UI kit get any better? We guess so. Check out these cool dropdowns where we have included some pre-build styles for
          %strong user account settings
          and
          = succeed "." do
            %strong notifications
        .row-wrapper
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              .dropdown
                %button#dropdownMenuButton.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  Dropdown button
                .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
                  %a.dropdown-item{:href => "#"} Action
                  %a.dropdown-item{:href => "#"} Another action
                  %a.dropdown-item{:href => "#"} Something else here
            .col-lg-3.col-md-6
              .dropdown
                %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  User account
                .dropdown-menu
                  %h6.dropdown-header User menu
                  %a.dropdown-item{:href => "#"}
                    %span.float-right.badge.badge-primary 4
                    = succeed "Messages" do
                      %i.fas.fa-envelope.text-primary
                  %a.dropdown-item{:href => "#"}
                    %i.fas.fa-cog.text-primary>
                    Settings
                  .dropdown-divider{:role => "presentation"}
                  %a.dropdown-item{:href => "#"}
                    %i.fas.fa-sign-out-alt.text-primary>
                    Sign out
            .col-lg-3.col-md-6
              .dropdown
                %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  Notifications
                .dropdown-menu.dropdown-menu-xl.py-0
                  .py-3.px-3
                    %h5.heading.h6.mb-0 Notifications
                  .list-group
                    %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                      .list-group-img
                        %span.avatar.bg-purple JD
                      .list-group-content
                        .list-group-heading
                          Johnyy Depp
                          %small 10:05 PM
                        %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                    %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                      .list-group-img
                        %span.avatar.bg-pink TC
                      .list-group-content
                        .list-group-heading
                          Tom Cruise
                          %small 10:05 PM
                        %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                    %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                      .list-group-img
                        %span.avatar.bg-blue WS
                      .list-group-content
                        .list-group-heading
                          Will Smith
                          %small 10:05 PM
                        %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                  .py-3.text-center
                    %a.link.link-sm.link--style-3{:href => "#"} View all notifications
        / Modals
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Modals
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/modal.html"} Open in Docs
        %p.mb-5 We love colorful modals. That's why you get now more styles with eye catching colors that you will simply love.
        .row-wrapper
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              / Button trigger modal
              %button.btn.btn-block.btn-light{"data-target" => "#modal_1", "data-toggle" => "modal", :type => "button"}
                Default modal
              / Modal
              #modal_1.modal.modal-fluid.fade{"aria-hidden" => "true", "aria-labelledby" => "modal_1", :role => "dialog", :tabindex => "-1"}
                .modal-dialog.modal-lg{:role => "document"}
                  .modal-content
                    .modal-body
                      .row.justify-content-center
                        .col-lg-8.text-center.py-4
                          %h4.heading.h3 Unleash your creativity!
                          %p.lead.text-muted
                            You can easy create stackable modal boxes. For example, your inline content or Ajax response can contain a gallery:
                          .py-md
                            %img.img-fluid.img-center{:src => "./assets/images/prv/splash.png"}/
                          %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Let's do this!
            .col-lg-3.col-md-6
              / Button trigger modal
              %button.btn.btn-block.btn-danger{"data-target" => "#modal_5", "data-toggle" => "modal", :type => "button"}
                Danger modal
              / Modal
              #modal_5.modal.modal-danger.fade{"aria-hidden" => "true", "aria-labelledby" => "modal_5", :role => "dialog", :tabindex => "-1"}
                .modal-dialog{:role => "document"}
                  .modal-content
                    .modal-header
                      %h5#modal_title_6.modal-title This is way to dangerous
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} ×
                    .modal-body
                      .py-3.text-center
                        %i.fas.fa-exclamation-circle.fa-4x
                        %h4.heading.mt-4 Should we stop now?
                        %p
                          You can easy create stackable modal boxes. For example, your inline content or Ajax response can contain a gallery:
                    .modal-footer
                      %button.btn.btn-sm.btn-secondary{"data-dismiss" => "modal", :type => "button"} Probably not
        / Popovers and tooltips
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Popovers &amp; Tooltips
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/tooltips.html"} Open in Docs
        .row-wrapper
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Tooltips
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-secondary{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Tooltip on top", :type => "button"}
                Tooltip on top
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-secondary{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button"}
                Tooltip on right
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-secondary{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Tooltip on bottom", :type => "button"}
                Tooltip on bottom
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-secondary{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Tooltip on left", :type => "button"}
                Tooltip on left
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Popovers
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-secondary{"data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-placement" => "top", "data-title" => "Please, help!", "data-toggle" => "popover", :type => "button"}
                Popover on top
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-secondary{"data-color" => "primary", "data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-placement" => "right", "data-title" => "Please, help!", "data-toggle" => "popover", :type => "button"}
                Popover on right
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-secondary{"data-color" => "secondary", "data-container" => "body", "data-content" => "Vivamus\n\t\t\t\t\t\t\tsagittis lacus vel augue laoreet rutrum faucibus.", "data-placement" => "bottom", "data-title" => "Please, help!", "data-toggle" => "popover", :type => "button"}
                Popover on bottom
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-secondary{"data-color" => "tertiary", "data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-placement" => "left", "data-title" => "Please, help!", "data-toggle" => "popover", :type => "button"}
                Popover on left
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-danger{"data-color" => "danger", "data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-placement" => "top", "data-title" => "Please, help!", "data-toggle" => "popover", :type => "button"}
                Danger popover
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-warning{"data-color" => "warning", "data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-placement" => "right", "data-title" => "Please, help!", "data-toggle" => "popover", :type => "button"}
                Warning popover
            .col-lg-3.col-md-6
              %button.btn.btn-block.btn-success{"data-color" => "success", "data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-placement" => "left", "data-title" => "Please, help!", "data-toggle" => "popover", :type => "button"}
                Success popover
        / Avatars
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Avatars
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/avatars.html"} Open in Docs
        %p.mb-5 Multiple style and sizes for avatars inspired by the Material Design.
        .row-wrapper
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Large
          %span.clearfix
          %span.avatar.avatar-lg.bg-blue.mr-3 WS
          %span.avatar.avatar-lg.bg-twitter.mr-3
            %i.fab.fa-twitter
          %span.avatar.avatar-lg.bg-red.mr-3
            %i.fas.fa-heart
          %span.avatar.avatar-lg.mr-3 A
          %img.avatar.avatar-lg.mr-3{:src => "assets/images/prv/thumb-1.jpg"}/
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Medium
          %span.clearfix
          %span.avatar.bg-blue.mr-3 WS
          %span.avatar.bg-twitter.mr-3
            %i.fab.fa-twitter
          %span.avatar.bg-red.mr-3
            %i.fas.fa-heart
          %span.avatar.mr-3 A
          %img.avatar.mr-3{:src => "assets/images/prv/thumb-1.jpg"}/
          %span.clearfix
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Small
          %span.avatar.avatar-sm.bg-blue.mr-3 WS
          %span.avatar.avatar-sm.bg-twitter.mr-3
            %i.fab.fa-twitter
          %span.avatar.avatar-sm.bg-red.mr-3
            %i.fas.fa-heart
          %span.avatar.avatar-sm.mr-3 A
          %img.avatar.avatar-sm{:src => "assets/images/prv/thumb-1.jpg"}/
        / Navbar
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Navbar
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/navbar.html"} Open in Docs
        %p.mb-5 Navigation made simple with multiple color variations that can be changed with the pre-defined modifier classes. The PRO version will come with even more options and layout styles. Stay tuned!
        .mb-5
          %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.rounded
            %a.navbar-brand{:href => "#"} Boomerang
            %button.navbar-toggler{"aria-controls" => "navbar_example_1", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar_example_1", "data-toggle" => "collapse", :type => "button"}
              %span.navbar-toggler-icon
            #navbar_example_1.collapse.navbar-collapse
              %ul.navbar-nav.mr-auto
                %li.nav-item.active
                  %a.nav-link{:href => "#"}
                    Home
                    %span.sr-only (current)
                %li.nav-item
                  %a.nav-link{:href => "#"} Link
                %li.nav-item.dropdown
                  %a#navbar_1_dropdown_1.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Dropdown
                  .dropdown-menu{"aria-labelledby" => "navbar_1_dropdown_1"}
                    %a.dropdown-item{:href => "#"} Action
                    %a.dropdown-item{:href => "#"} Another action
                    .dropdown-divider
                    %a.dropdown-item{:href => "#"} Something else here
                %li.nav-item
                  %a.nav-link.disabled{:href => "#"} Disabled
              %ul.navbar-nav.ml-auto
                %li.nav-item
                  %a.nav-link.nav-link-icon{:href => "#"}
                    %i.fas.fa-cogs
                %li.nav-item.dropdown
                  %a#navbar_1_dropdown_2.nav-link.nav-link-icon{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    %i.fas.fa-bell
                  .dropdown-menu.dropdown-menu-right.dropdown-menu-xl.py-0
                    .py-3.px-3
                      %h5.heading.h6.mb-0 Notifications
                    .list-group
                      %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                        .list-group-img
                          %span.avatar.bg-purple JD
                        .list-group-content
                          .list-group-heading
                            Johnyy Depp
                            %small 10:05 PM
                          %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                      %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                        .list-group-img
                          %span.avatar.bg-pink TC
                        .list-group-content
                          .list-group-heading
                            Tom Cruise
                            %small 10:05 PM
                          %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                      %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                        .list-group-img
                          %span.avatar.bg-blue WS
                        .list-group-content
                          .list-group-heading
                            Will Smith
                            %small 10:05 PM
                          %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                    .py-3.text-center
                      %a.link.link-sm.link--style-3{:href => "#"} View all notifications
                %li.nav-item.dropdown
                  %a#navbar_1_dropdown_3.nav-link.nav-link-icon{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    %i.fas.fa-user
                  .dropdown-menu.dropdown-menu-right
                    %h6.dropdown-header User menu
                    %a.dropdown-item{:href => "#"}
                      %span.float-right.badge.badge-primary 4
                      = succeed "Messages" do
                        %i.fas.fa-envelope.text-primary
                    %a.dropdown-item{:href => "#"}
                      %i.fas.fa-cog.text-primary>
                      Settings
                    .dropdown-divider{:role => "presentation"}
                    %a.dropdown-item{:href => "#"}
                      %i.fas.fa-sign-out-alt.text-primary>
                      Sign out
        .mb-5
          %nav.navbar.navbar-expand-lg.navbar-light.bg-secondary.rounded
            %a.navbar-brand{:href => "#"} Boomerang
            %button.navbar-toggler{"aria-controls" => "navbar_example_2", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar_example_2", "data-toggle" => "collapse", :type => "button"}
              %span.navbar-toggler-icon
            #navbar_example_2.collapse.navbar-collapse
              %ul.navbar-nav.mr-auto
                %li.nav-item.active
                  %a.nav-link{:href => "#"}
                    Home
                    %span.sr-only (current)
                %li.nav-item
                  %a.nav-link{:href => "#"} Link
                %li.nav-item.dropdown
                  %a#navbar_1_dropdown_1.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Dropdown
                  .dropdown-menu{"aria-labelledby" => "navbar_1_dropdown_1"}
                    %a.dropdown-item{:href => "#"} Action
                    %a.dropdown-item{:href => "#"} Another action
                    .dropdown-divider
                    %a.dropdown-item{:href => "#"} Something else here
                %li.nav-item
                  %a.nav-link.disabled{:href => "#"} Disabled
              %ul.navbar-nav.ml-auto
                %li.nav-item
                  %a.nav-link.nav-link-icon{:href => "#"}
                    %i.fas.fa-cogs
                %li.nav-item.dropdown
                  %a#navbar_2_dropdown_2.nav-link.nav-link-icon{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    %i.fas.fa-bell
                  .dropdown-menu.dropdown-menu-right.dropdown-menu-xl.py-0
                    .py-3.px-3
                      %h5.heading.h6.mb-0 Notifications
                    .list-group
                      %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                        .list-group-img
                          %span.avatar.bg-purple JD
                        .list-group-content
                          .list-group-heading
                            Johnyy Depp
                            %small 10:05 PM
                          %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                      %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                        .list-group-img
                          %span.avatar.bg-pink TC
                        .list-group-content
                          .list-group-heading
                            Tom Cruise
                            %small 10:05 PM
                          %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                      %a.list-group-item.list-group-item-action.d-flex.align-items-center{:href => "#"}
                        .list-group-img
                          %span.avatar.bg-blue WS
                        .list-group-content
                          .list-group-heading
                            Will Smith
                            %small 10:05 PM
                          %p.text-sm Lorem ipsum dolor sit amet consectetur adipiscing eiusmod tempor
                    .py-3.text-center
                      %a.link.link-sm.link--style-3{:href => "#"} View all notifications
                %li.nav-item.dropdown
                  %a#navbar_2_dropdown_3.nav-link.nav-link-icon{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    %i.fas.fa-user
                  .dropdown-menu.dropdown-menu-right
                    %h6.dropdown-header User menu
                    %a.dropdown-item{:href => "#"}
                      %span.float-right.badge.badge-primary 4
                      = succeed "Messages" do
                        %i.fas.fa-envelope.text-primary
                    %a.dropdown-item{:href => "#"}
                      %i.fas.fa-cog.text-primary>
                      Settings
                    .dropdown-divider{:role => "presentation"}
                    %a.dropdown-item{:href => "#"}
                      %i.fas.fa-sign-out-alt.text-primary>
                      Sign out
        %div
          %nav.navbar.navbar-expand-lg.navbar-dark.bg-tertiary.rounded
            %a.navbar-brand{:href => "#"} Boomerang
            %button.navbar-toggler{"aria-controls" => "navbar_3", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar_3", "data-toggle" => "collapse", :type => "button"}
              %span.navbar-toggler-icon
            #navbar_3.collapse.navbar-collapse
              %ul.navbar-nav.mr-auto
                %li.nav-item.active
                  %a.nav-link{:href => "#"}
                    Home
                    %span.sr-only (current)
                %li.nav-item
                  %a.nav-link{:href => "#"} Link
                %li.nav-item.dropdown
                  %a#navbar_3_dropdown_1.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Dropdown
                  .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                    %a.dropdown-item{:href => "#"} Action
                    %a.dropdown-item{:href => "#"} Another action
                    .dropdown-divider
                    %a.dropdown-item{:href => "#"} Something else here
                %li.nav-item
                  %a.nav-link.disabled{:href => "#"} Disabled
              %form.form-inline.my-2.my-lg-0
                %input.form-control.form-control-sm.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
                %button.btn.btn-sm.btn-primary.my-2.my-sm-0{:type => "submit"} Search
        / Tabs
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Tabs
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/navs.html"} Open in Docs
        %p.mb-5 Customize with ease the tab's navigation with any of the icons offered by Font Awesome. Check out the dedicated section to see all examples.
        .row-wrapper
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-6
              %ul#myTab.nav.nav-pills.nav-fill.flex-column.flex-sm-row{:role => "tablist"}
                %li.nav-item
                  %a#home-tab.nav-link.mb-sm-3.active{"aria-controls" => "home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#home", :role => "tab"} UI/UX Design
                %li.nav-item
                  %a#profile-tab.nav-link.mb-sm-3{"aria-controls" => "profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#profile", :role => "tab"} Programming
                %li.nav-item
                  %a#contact-tab.nav-link.mb-sm-3{"aria-controls" => "contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#contact", :role => "tab"} Web Development
              #myTabContent.tab-content
                #home.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                  %p Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #profile.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
                  %p Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #contact.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"}
                  %p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                  %p Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            .col-lg-6
              %ul#tabs_2.nav.nav-pills.nav-fill.mb-3{:role => "tablist"}
                %li.nav-item
                  %a#home-tab.nav-link.active{"aria-controls" => "home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#tabs_2_1", :role => "tab"}
                    %span.nav-link-icon.d-block
                      %i.fab.fa-connectdevelop.fa-2x
                    %span.d-none.d-sm-block.mt-3 UI/UX Design
                %li.nav-item
                  %a#profile-tab.nav-link{"aria-controls" => "profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tabs_2_2", :role => "tab"}
                    %span.nav-link-icon.d-block
                      %i.fas.fa-code.fa-2x
                    %span.d-none.d-sm-block.mt-3 Programming
                %li.nav-item
                  %a#contact-tab.nav-link{"aria-controls" => "contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tabs_2_3", :role => "tab"}
                    %span.nav-link-icon.d-block
                      %i.fab.fa-node-js.fa-2x
                    %span.d-none.d-sm-block.mt-3 Web Development
              #myTabContent.tab-content
                #tabs_2_1.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                  %p Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #tabs_2_2.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
                  %p Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                #tabs_2_3.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"}
                  %p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                  %p Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        / Other elements
        %h2.heading.h3.mb-3{:style => "margin-top: 7rem;"} Other elements
        %p.mb-5
          Check out these customized UI components with extended functionalities and styles. From progress bars, basges, alerts, badges you get everything you need in beautiful free pack.
          %a{:href => "docs/introduction.html"} Learn more in the Docs
        .row-wrapper
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Progress
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-6
              / Default
              .progress-wrapper.mt-0.mb-5
                .progress.bg-primary
                  .progress-bar.bg-base-1{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%;"} 20%
            .col-lg-6
              / Default
              .progress-wrapper.mt-0.mb-5
                .progress.bg-secondary
                  .progress-bar.bg-base-1{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%;"} 20%
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-6
              / Outer label and percentage
              .progress-wrapper
                %h4.progress-label.text-uppercase Style 2
                %h4.progress-percentage.text-uppercase 40%
                .progress{:style => "height: 5px;"}
                  .progress-bar.bg-purple{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%;"}
            .col-lg-6
              / Outer label and percentage
              .progress-wrapper
                %h4.progress-label.text-uppercase Style 2
                %h4.progress-percentage.text-uppercase 40%
                .progress{:style => "height: 5px;"}
                  .progress-bar.bg-cyan{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%;"}
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-6
              / Label as tooltip
              .progress-wrapper
                %h4.progress-tooltip.text-uppercase{:style => "left: 60%;"} Identity
                .progress{:style => "height: 3px;"}
                  .progress-bar.bg-dark{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 60%;"}
            .col-lg-6
              / Label as tooltip
              .progress-wrapper
                %h4.progress-tooltip.text-uppercase{:style => "left: 60%;"} Identity
                .progress{:style => "height: 3px;"}
                  .progress-bar.bg-red{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 60%;"}
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Badges
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-6
              .mb-4
                %span.badge.badge-pill.badge-primary.text-uppercase Primary
                %span.badge.badge-pill.badge-secondary.text-uppercase Secondary
                %span.badge.badge-pill.badge-success.text-uppercase Success
                %span.badge.badge-pill.badge-danger.text-uppercase Danger
                %span.badge.badge-pill.badge-warning.text-uppercase Warning
                %span.badge.badge-pill.badge-info.text-uppercase Info
              .mb-4
                %span.badge.badge-md.badge-pill.badge-primary.text-uppercase Primary
                %span.badge.badge-md.badge-pill.badge-secondary.text-uppercase Secondary
                %span.badge.badge-md.badge-pill.badge-success.text-uppercase Success
                %span.badge.badge-md.badge-pill.badge-danger.text-uppercase Danger
                %span.badge.badge-md.badge-pill.badge-warning.text-uppercase Warning
                %span.badge.badge-md.badge-pill.badge-info.text-uppercase Info
              %div
                %span.badge.badge-lg.badge-pill.badge-primary.text-uppercase Primary
                %span.badge.badge-lg.badge-pill.badge-secondary.text-uppercase Secondary
                %span.badge.badge-lg.badge-pill.badge-success.text-uppercase Success
                %span.badge.badge-lg.badge-pill.badge-danger.text-uppercase Danger
                %span.badge.badge-lg.badge-pill.badge-warning.text-uppercase Warning
                %span.badge.badge-lg.badge-pill.badge-info.text-uppercase Info
            .col-lg-6
              %div
                %button.btn.btn-primary{:type => "button"}
                  Notifications
                  %span.badge.badge-light.ml-2 4
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Pagination
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-6
              / Pagination with text
              %nav{"aria-label" => "Page navigation example"}
                %ul.pagination
                  %li.page-item
                    %a.page-link{:href => "#"} Previous
                  %li.page-item
                    %a.page-link{:href => "#"} 1
                  %li.page-item.active
                    %a.page-link{:href => "#"} 2
                  %li.page-item
                    %a.page-link{:href => "#"} 3
                  %li.page-item
                    %a.page-link{:href => "#"} 4
                  %li.page-item
                    %a.page-link{:href => "#"} 5
                  %li.page-item
                    %a.page-link{:href => "#"} 6
                  %li.page-item
                    %a.page-link{:href => "#"} Next
            .col-lg-6
              / Pagination with icons
              %nav{"aria-label" => "Page navigation example"}
                %ul.pagination.pagination-lg
                  %li.page-item
                    %a.page-link{:href => "#"}
                      %i.fas.fa-angle-left
                  %li.page-item
                    %a.page-link{:href => "#"} 1
                  %li.page-item.active
                    %a.page-link{:href => "#"} 2
                  %li.page-item
                    %a.page-link{:href => "#"} 3
                  %li.page-item
                    %a.page-link{:href => "#"}
                      %i.fas.fa-angle-right
          %h3.heading.h6.text-uppercase.text-primary.mt-5.mb-4 Alerts
          .alert.alert-primary.alert-dismissible.fade.show{:role => "alert"}
            %strong Holy guacamole!
            You should check in on some of those fields below.
            %button.undo{"aria-label" => "Undo", :type => "button"} Undo
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .alert.alert-danger.alert-dismissible.fade.show{:role => "alert"}
            %strong Holy guacamole!
            You should check in on some of those fields below.
            %button.undo{"aria-label" => "Undo", :type => "button"} Undo
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .alert.alert-warning.alert-dismissible.fade.show{:role => "alert"}
            %strong Holy guacamole!
            You should check in on some of those fields below.
            %button.undo{"aria-label" => "Undo", :type => "button"} Undo
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .alert.alert-info.alert-dismissible.fade.show{:role => "alert"}
            %strong Holy guacamole!
            You should check in on some of those fields below.
            %button.undo{"aria-label" => "Undo", :type => "button"} Undo
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
            %strong Holy guacamole!
            You should check in on some of those fields below.
            %button.undo{"aria-label" => "Undo", :type => "button"} Undo
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .alert.alert-dark.alert-dismissible.fade.show{:role => "alert"}
            %strong Holy guacamole!
            You should check in on some of those fields below.
            %button.undo{"aria-label" => "Undo", :type => "button"} Undo
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
        / Typography
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Typography
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "docs/typography.html"} Open in Docs
        %p.mb-5
          Useful modifier classes and options were added to make typography look beautiful. We chose the
          %strong Nunito
          typeface for this UI Kit. Easy to read, it looks great in every scenario with a little bit of roundness to make it even more gorgeous.
        .row-wrapper
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3
              %h3.heading.h6.text-uppercase.text-primary Headings
            .col-lg-9
              %h1.heading.heading-1.mb-4 h1. Boomerang heading
              %h2.heading.heading-2.mb-4 h2. Boomerang heading
              %h3.heading.heading-3.mb-4 h3. Boomerang heading
              %h4.heading.heading-4.mb-4 h4. Boomerang heading
              %h5.heading.heading-5.mb-4 h5. Boomerang heading
              %h6.heading.heading-6 h6. Boomerang heading
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3
              %h3.heading.h6.text-uppercase.text-primary Paragraph
            .col-lg-9
              %p
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3
              %h3.heading.h6.text-uppercase.text-primary Lead text
            .col-lg-9
              %p.lead
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col-lg-3
              %h3.heading.h6.text-uppercase.text-primary Quote
            .col-lg-9
              %blockquote.blockquote
                %p.mb-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                %footer.blockquote-footer
                  Someone famous in
                  %cite{:title => "Source Title"} Source Title
        / Icons
        .row.align-items-center.mb-4.mt-lg
          .col-8
            %h2.heading.h3.mb-0 Icons
          .col-4.text-right
            %a.btn.btn-sm.btn-primary{:href => "https://fontawesome.com/icons", :target => "_blank"} See all icons
        %p.mb-5 For this UI kit we are using the latest library of Font Awesome 5 which comes with plenty of icons and styles: solid, regular and light. There is a FREE version and a PRO one. Each user who wants to benefit of all its features should get a license.
        .row-wrapper
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col.lg-1
              .text-center
                .px-2.py-3
                  %i.fas.fa-address-book{:style => "font-size: 24px;"}
            .col.lg-1
              .text-center
                .px-2.py-3
                  %i.fas.fa-adjust{:style => "font-size: 24px;"}
            .col.lg-1
              .text-center
                .px-2.py-3
                  %i.fas.fa-archive{:style => "font-size: 24px;"}
            .col.lg-1
              .text-center
                .px-2.py-3
                  %i.fas.fa-balance-scale{:style => "font-size: 24px;"}
            .col.lg-1
              .text-center
                .px-2.py-3
                  %i.fas.fa-bed{:style => "font-size: 24px;"}
            .col.lg-1
              .text-center
                .px-2.py-3
                  %i.fas.fa-bell{:style => "font-size: 24px;"}
            .col.lg-1
              .text-center
                .px-2.py-3
                  %i.fas.fa-bicycle{:style => "font-size: 24px;"}
            .col.lg-1.d-sm-none
              .text-center
                .px-2.py-3
                  %i.fas.fa-bicycle{:style => "font-size: 24px;"}
            .col.lg-1.d-sm-none.d-md-none
              .text-center
                .px-2.py-3
                  %i.fas.fa-bicycle{:style => "font-size: 24px;"}
            .col.lg-1.d-sm-none.d-md-none
              .text-center
                .px-2.py-3
                  %i.fas.fa-bicycle{:style => "font-size: 24px;"}
            .col.lg-1.d-sm-none.d-md-none
              .text-center
                .px-2.py-3
                  %i.fas.fa-bicycle{:style => "font-size: 24px;"}
            .col.lg-1.d-sm-none.d-md-none
              .text-center
                .px-2.py-3
                  %i.fas.fa-bicycle{:style => "font-size: 24px;"}
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-angle-double-up{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-angle-double-down{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-angle-double-right{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-angle-double-left{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-angle-up{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-angle-right{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-angle-down{:style => "font-size: 24px;"}
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-bullhorn{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-bullseye{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-calendar{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-camera-retro{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-chart-bar{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-check-circle{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-clock{:style => "font-size: 24px;"}
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-cloud-download-alt{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fab.fa-cloudscale{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fab.fa-cloudsmith{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-code{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-cogs{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-comment-alt{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-compass{:style => "font-size: 24px;"}
          .row.cols-xs-space.cols-sm-space.cols-md-space
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-credit-card{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-envelope-open{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-frown{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-hand-peace{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-handshake{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fas.fa-heart{:style => "font-size: 24px;"}
            .col
              .text-center
                .px-2.py-3
                  %i.fab.fa-jenkins{:style => "font-size: 24px;"}
        .text-center.mt-5
          %a.btn.btn-primary{:href => "https://fontawesome.com/icons", :target => "_blank"} See all icons
%section.slice.slice-lg.bg-tertiary.bg-cover.bg-size--contain{:style => "background-image: url('assets/images/backgrounds/img-1.png'); background-position: center 10%;"}
  %span.mask.bg-primary.alpha-7
  .container.text-center
    .row.cols-xs-space.cols-sm-space.cols-md-space
      .col-12
        %h2.heading.text-white.h1.strong-600
          Complete features at your hand
        .row.justify-content-center.mt-4
          .col-lg-8
            %p.lead.text-white
              Boomerang is a great free UI package based on Bootstrap 4 that includes the most important components and features so you can jumpstart the hard work and get right to the website creation fast and easy.
            .btn-container.mt-5
              %a.btn.btn-lg.bg-white.px-4{:href => "https://github.com/webpixels/boomerang-ui-kit/archive/master.zip"}
                Download Free
%section.slice-lg
  .container
    %h2.heading.h3.strong-600.text-center.mb-5
      What you get in the FREE version
    .row-wrapper
      .row.cols-xs-space.cols-sm-space.cols-md-space
        .col-md-6
          .card.bg-primary
            .card-body.py-5
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fab.fa-twitter.text-white
                .icon-text
                  %h3.heading.text-white.h4
                    Latest Bootstrap framework
                    %small (v4.0.0)
                  %p.text-white.mb-0 Build responsive, mobile-first projects on the web with the world's most popular front-end component library.
        .col-md-6
          .card
            .card-body.py-5
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fab.fa-sass
                .icon-text
                  %h3.heading.h4
                    Built with Sass
                    %small (included)
                  %p.mb-0 Change one variable and the theme adapts. And there are tones: colors, fonts, sizes are just a few things you can change with Sass.
      .row.cols-xs-space.cols-sm-space.cols-md-space
        .col-md-6
          .card.bg-primary
            .card-body.py-5
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fas.fa-th-large.text-white
                .icon-text
                  %h3.heading.text-white.h4 50 customized components
                  %p.text-white.mb-0 We took the most used Bootstrap components and add them a little Boomerang touch with modular elements that makes them reusable and easy to work with.
        .col-md-6
          .card
            .card-body.py-5
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fas.fa-tint
                .icon-text
                  %h3.heading.h4 Extended color palette
                  %p.mb-0 Boomerang has extended the color palette that Bootstrap offers by default. Instead of two primary colors, you get now three. These can be easily customized using the included Sass files.
      .row.cols-xs-space.cols-sm-space.cols-md-space
        .col-md-6
          .card.bg-primary
            .card-body.py-5
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fas.fa-code.text-white
                .icon-text
                  %h3.heading.text-white.h4 Five integrated plugins
                  %p.text-white.mb-0 Get even more functionality with the ready to use plugins we have integrated in this theme for you.
        .col-md-6
          .card
            .card-body.py-5
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fas.fa-font
                .icon-text
                  %h3.heading.h4 Font Awesome 5
                  %p.mb-0 1000 Free icons + 1500 Pro icons make FontAwesome one of the most popular vector icons on the web.
      .row.cols-xs-space.cols-sm-space.cols-md-space
        .col-md-6
          .card.bg-primary
            .card-body.py-5
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fas.fa-file-alt.text-white
                .icon-text
                  %h3.heading.text-white.h4 Five example pages
                  %p.text-white.mb-0 We took a step further and created a set of 5 pages that makes it the ideal point to start building websites of any kind.
        .col-md-6
          .card
            .card-body.py-5
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fas.fa-question-circle
                .icon-text
                  %h3.heading.h4 Free support on Github
                  %p.mb-0 You get a professional theme and a promise that we will respond to each issue you are having with our theme on Github.
%section.slice.pt-0.sct-color-1
  .container
    .row.justify-content-center.align-items-center
      .col-lg-8.text-center
        %h3.heading.h3.font-weight-400
          I am ready to start a new project with
          %span.font-weight-700 Boomerang
          UI Kit.
        .mt-5
          %a.btn.btn-lg.btn-primary.px-4{:href => "https://github.com/webpixels/boomerang-ui-kit/archive/master.zip"}
            Download free
          %a.btn.btn-link{:href => "https://github.com/webpixels/boomerang-ui-kit/issues", :target => "_blank"} Have an issue?
