%section.slice.slice-xl
  .container
    .row
      .col-12
        %h1 Privacy Policy
    .row.mt-2
      .col-12
        %h4 Our Principles
        %p.mt-2
          Your privacy is paramount. We do not share any of your personal information with anyone for commercial purposes.
