%section.slice.slice-xl
  .container
    .row
      .col-12
        %h1 Results
    .row.mt-2
      %iframe#raceroster{:src => "https://timer.raceroster.com/Calendars/L6crPG2qbgq2eCkzWNVMdUF", :style => "border:none; height:700px; width:100%"}
      
