%section.slice.slice-xl
  .container
    .row
      .col-12
        %h1 Refund Policy
    .row
      .col-12
        %p We can't give refunds or transfers. Once you purchase your race entry, we pay the landowners for your site use, buy your race swag, pay the insurance company, pay the timing company and photographer, and on. That said, we're still reasonable people and want to help you out. If you write a compelling request, we'll give you a discount to a future race.
