.card
  %img.card-img-top{alt: location.name, src: "https://picsum.photos/300/150/?random"}/
  .card-body
    %span.badge.badge-secondary Location
    %h5.card-title= location.name
    %p.card-text= location.short_description
  .card-footer
    %small.text-muted= local_time_ago(location.updated_at)
    .float-right
      = link_to edit_admin_location_path(location), class: "btn btn-sm" do
        Edit
