%tr.bg-white
  %th{scope: "row"}
    .media.align-items-center
      %img.avatar.avatar-lg.mr-3{src: asset_path("thumb-#{rand(1..2)}")}
      .media-body
        %h6.h5.font-weight-normal.mb-0= location.name
        %span.font-weight-normal.text-muted= location.short_description
  %td nabiha.armstrong@example.com
  %td Cluj Napoca, RO
%tr.table-divider
