.card
  %table.table.table-responsive-md
    %thead.bg-light
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Address
        %th{scope: "col"} Updated
        %th{scope: "col"}
    %tbody
      - @locations.each do |location|
        = render "location_row", location: location.decorate
