.row
  .col-10
    %h1 Locations
  .col-2
    = link_to "New", new_admin_location_path, class: "btn btn-sm btn-success float-right"
%br
- if @locations.any?
  = render "table"
- else
  .row
    .col
      .text-center
        %h4.text-muted.p-4
          No locations exist yet.
