.row.justify-content-between
  .col-5
    %h1 Locations
  .col-2
    = link_to "New", new_admin_location_path, class: "btn btn-md btn-success float-right"
%hr
- if @locations.any?
  .row
    - @locations.each do |location|
      .col-4
        = render "location", location: location

- else
  .row
    .col
      .text-center
        %h4.text-muted.p-4
          No locations exist yet.
