%tr
  %td
    %img.avatar.avatar-sm{src: team_member.row_thumbnail}
    = team_member.name
  %td= local_time_ago team_member.updated_at
  %td
    .btn-group.float-right
      = link_to edit_admin_team_member_path(team_member),
        class: "btn btn-sm btn-outline-primary" do
        %i.fa.fa-edit
        Edit
      = link_to admin_team_member_path(team_member),
        method: :delete,
        class: "btn btn-sm btn-outline-danger" do
        %i.fa.fa-trash
        Remove
