= content_for :admin_area_title do
  Team
.row.mb-3
  .col
    = render "table"
.row
  .col-12
    .float-right
      = link_to "Create New Team Member",
        new_admin_team_member_path,
        class: "btn btn-sm btn-success"
