%table.table.table-hover.table-cards.align-items-center
  %thead
    %tr
      %th{scope: "col"} Name
      %th{scope: "col"} Starts
      %th{scope: "col"}
  %tbody
    - @events.each do |event|
      = render "event", event: event.decorate
