%table.table.align-items-center
  %thead
    %tr
      %th{scope: "col"} Name
      %th{scope: "col"} Starts
      %th{scope: "col"} Window
      %th{scope: "col"}
  %tbody
    - @events.each do |event|
      = render "event_row", event: event.decorate
