= content_for :admin_area_title do
  Events
.row
  .col
    = render "table"
.row
  .col
    .float-right
      = link_to "Create New Event",
        new_admin_event_path,
        class: "btn btn-sm btn-success"
