%section.slice.slice-xl.pb-5
  .container
    .row.align-items-center.mb-lg-lg
      .col-lg-4
        .mb-lg.mb-lg-0.text-center.text-lg-left
          %h3.heading.h3 Our Race Lineup
          %p.mt-3 Register today before we fill up!
      .col-lg-8
        .row
          .col-md-6
            .card.bg-lighter.mb-lg.mb-lg-0
              .px-3
                %img.card-img.z-depth-2{alt: "race name", src: "https://picsum.photos/200/300/?random", style: "margin-top: -30px;"}/
              .card-body
                %h5.card-title.mb-2 Homepage
                %p.card-text More than you need to create a beautiful landing page.
          .col-md-6
            .card.bg-lighter.mb-lg.mb-lg-0
              .px-3
                %img.card-img.z-depth-2{alt: "race name", src: "https://picsum.photos/200/300/?random", style: "margin-top: -30px;"}/
              .card-body
                %h5.card-title.mb-2 About us
                %p.card-text All the features for a complete company description.
    .row
      .col-md-4
        .card.bg-lighter.mb-lg.mb-lg-0
          .px-3
            %img.card-img.z-depth-2{alt: "race name", src: "https://picsum.photos/200/300/?random", style: "margin-top: -30px;"}/
          .card-body
            %h5.card-title.mb-2 Cover
            %p.card-text A one-page template for building simple and beautiful home pages.
      .col-md-4
        .card.bg-lighter.mb-lg.mb-lg-0
          .px-3
            %img.card-img.z-depth-2{alt: "race name", src: "https://picsum.photos/200/300/?random", style: "margin-top: -30px;"}/
          .card-body
            %h5.card-title.mb-2 Contact
            %p.card-text List your company information next to a nice contact form.
      .col-md-4
        .card.bg-lighter.mb-lg.mb-lg-0
          .px-3
            %img.card-img.z-depth-2{alt: "race name", src: "https://picsum.photos/200/300/?random", style: "margin-top: -30px;"}/
          .card-body
            %h5.card-title.mb-2 Sign in
            %p.card-text Custom form layout and design for a simple sign in form.
