%section.slice.bg-primary.with-topo-background
  .container
    .row.align-items-center.cols-xs-space.cols-sm-space.cols-md-space.text-center.text-lg-left
      .col-lg-7
        %h1.heading.h2.text-white.strong-500
          Need more information about Boomerang UI Kit?
        %p.lead.text-white.mb-0 Take up one idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
      .col-lg-3.ml-lg-auto
        .text-center.text-md-right
          %a.btn.bg-secondary{:href => "#"}
            Contact us
