%section
  .container-fluid.px-0
    .card-group.flex-column.flex-md-row
      .card.bg-primary.text-white.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2.text-white Theme as framework
          %p.mt-4
            Boomerang was designed as its own extended version of Bootstrap, built for offering a complete solution for various industries — business, real estate, travel and much more.
          %a.btn.btn-secondary.mt-4{href: "#"} Learn more
      .card.bg-secondary.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2 Even more components
          %p.mt-4
            We know how much you love Bootstrap components. That's why we've customized, and also, introduced dozens of completely new utilities, components and plugins.
          %a.btn.btn-primary.mt-4{href: "#"} Learn more
      .card.bg-tertiary.text-white.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2.text-white Tons of variables
          %p.mt-4
            Theme components inherit much of their style from variables, exactly like Bootstrap. Change a few values and the theme adapts. Customization has never been easier.
          %a.btn.btn-secondary.mt-4{href: "#"} Learn more
