%section.spotlight.bg-cover.bg-size--cover{"data-spotlight" => "fullscreen", style: "background-image: url(#{asset_url('https://lh3.googleusercontent.com/QiAXD8no1sV484afJ3yrfg-zD3NfpcaFrOFqD0sVCaa5QL-pyFLl5YI6F36BP_TzcbAPsJN4cGtHoJGeIfy2jkcHmcBfU02kGt_2Ha9Q08D0gqObY92xg-xGrEPQxySAdu53xd4m9AWyKxquSMgEWwtmb8lAx717mU-WVbWRGwDDtsGM2TUZol4C2H6CI3iwlk61iic3yC5WTkf3xZpKn9vPvfVbJCPSWor-pLQ63OiZZvcLhiWj0gdamFKJN6kRbNJk6sltsUVrwx11QT5Mb4IAxtLEfdXZ2MG0jnQom0ZSUqD0jHXOY82Yabse-TmFENn-rOkQpou_h7RMcBC8AMc3AW3Fi9gRkxuINlNejoWmsplOi1maX80bP6vOW82vDB5EJ_5pt9PNI45b__DVRYHwZwaQwFxeU_qpaKlJO2hf1RZ2YCjJiAe8V23FDZ1i8L2O4_iLKiMzf8I8p9rkKrQ7fu8dbABRSVwu8rAYbcNJiP1Y2SBu5Lv7rKkogkjiVTKvMZ-KkNTPI6psNrtqhChEFqCzoB3HwMeAxzr6t0zQCcl0xxYz-aCpxsdJa8DbKx6b0MzUXbqCPyL76XqZgeYS4FFS6L041_Y5ygrlib-noqf6psxhcVJKmWqMM9w5pwkkI5yynahHiQu3Z1HBBv4qVpX6UCWzP8VMyVeY8OC3M-jLcUztcLqddMylqbKt6oEiBZ4XIauRpJLwLT8=w2126-h1594-no')})"}
  %span.mask.bg-dark.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.text-center.text-md-left.justify-content-center
          .col-lg-10
            .text-center.mt-5
              %h1.heading.h1.text-white
                The Best Trail Racing in Texas
              %p.lead.lh-180.text-white.mt-3
                %strong.text-info Spectrum Trail Racing
                is a community of hard working, big loving, long-running trail blazers.
                Looking to make friends or test your distance or speed limits? You’re in the right place.
              .mt-5
                %a.btn.btn-primary.mr-3{href: "#"} Our Races
                %a.btn.btn-secondary{href: "#"} About Us
