%section.slice
  .container
    .mb-md.text-center
      %h3.heading.h2
        Trusted by over
        %span.text-primary 4000
        clients
      .fluid-paragraph.mt-3
        %p.lead Start building fast, beautiful and modern looking websites in no time using our theme.
    .row.cols-xs-space.cols-sm-space.cols-md-space
      .col-md-2.col-6
        .px-4.py-4.border.rounded
          %img.img-fluid{src: asset_path("client-1")}/
      .col-md-2.col-6
        .px-4.py-4.border.rounded
          %img.img-fluid{src: asset_path("client-2")}/
      .col-md-2.col-6
        .px-4.py-4.border.rounded
          %img.img-fluid{src: asset_path("client-3")}/
      .col-md-2.col-6
        .px-4.py-4.border.rounded
          %img.img-fluid{src: asset_path("client-4")}/
      .col-md-2.col-6
        .px-4.py-4.border.rounded
          %img.img-fluid{src: asset_path("client-5")}/
      .col-md-2.col-6
        .px-4.py-4.border.rounded
          %img.img-fluid{src: asset_path("client-6")}/
