%p Sick-ass charts, lists, and other helpful things will be shown here...

%h1 Reminder Instructions
%hr

%strong To require a team name to be set during registration..
%ol
  %li Set 'allows teams' on the events form to true - defualt is false
  %li Set 'require team name' on an individual Race's form - default is false
  %li Team names are shown on the registrations index
  %li Team names can be entered on the Details step - default is null
