%section.slice.slice-lg
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3.d-none.d-md-block
        = render "events/card",
          event: @event.decorate,
          context_classes: "sticky-top sticky-top-offset-8",
          show_footer: false
      .col-sm-12.col-md-8.col-lg-6
        .card.border-success
          .card-body
            .row
              .col.text-center
                = animated_check_icon
                %h4.heading.h4.text-success Registration Confirmed
                %h5.lead We are so excited to see you at #{@event.name}!
                %p
                  We will send a confirmation email with all the details to
                  %strong.text-tertiary
                    #{@registration.participant.email}
                  shortly!
