%script{:src => "https://js.stripe.com/v3/"}
%section.slice.slice-lg
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3.d-none.d-md-block
        = render "events/card",
          event: @event.decorate,
          context_classes: "sticky-top sticky-top-offset-6",
          show_footer: false
      .col-sm-12.col-md-8.col-lg-6
        %noscript
          = render 'shared/no_script_warning'
        .card.border-primary
          .card-header.bg-primary
            %ul.nav.nav-tabs.card-header-tabs.nav-fill.nowrap
              %li.nav-item
                %a.nav-link.text-white{href: edit_event_registration_path(@event, @registration)}
                  Start
                  %i.fa.fa-check-circle.text-success
              %li.nav-item
                %a.nav-link.text-white{href: wizard_path(:details)}
                  Details
                  %i.fa.fa-check-circle.text-success
              %li.nav-item
                %a.nav-link.text-white{href: wizard_path(:waiver)}
                  Waiver
                  %i.fa.fa-check-circle.text-success
              %li.nav-item
                %a.nav-link.active{href: "#"}
                  Payment
                  - if @registration.paid?
                    %i.fa.fa-check-circle.text-success
          .card-body
            - if @registration.paid?
              %h4 Successfully charged card!
              = link_to "Show Confirmation Page", event_registration_step_path(@event, @registration, "confirmation")
            - else
              = render "payment_step_form", registration: @registration
