.card.bg-dark.alpha-container.text-white.border-0.overflow-hidden.mb-3
  %a{href: new_event_registration_path(race.event, race_id: race.id), :target => "_blank"}
    .card-img-bg{:style => "background-image: url(#{url_for(race.course_map)});"}
    %span.mask.bg-dark.alpha-8.alpha-4--hover
    .card-body.px-5.py-5
      %div{:style => "min-height: 300px;"}
        %h3.heading.h1.text-white.mb-3= race.name
        %p.mt-4.mb-1.text-white.lh-180
          %i.far.fa-clock
          = race.start_time_with_zone
        %p.mb-1.text-white.lh-180
          %i.fas.fa-calendar-day
          = race.start_date
      %span.text-white.text-uppercase.font-weight-500{href: new_event_registration_path(race.event, race)}
        Register Now
        %i.fas.fa-arrow-right.ml-2
