%section.slice.slice-xl
  .container
    .row
      .col-sm-12.col-md-4.col-lg-3.d-none.d-md-block
        = render "events/card",
          event: @event.decorate,
          context_classes: "sticky-top sticky-top-offset-8",
          show_footer: true
      .col-sm-12.col-md-8.col-lg-9
        .card.border-primary.mb-4
          .card-header.bg-primary
            %h4.text-white Participants for #{@race.name_with_event_and_year}
          = render "table", participants: @participants, event: @event
