.card.border-primary.flex-row.flex-wrap.my-3
  .row.no-gutters
    .col-auto
      %img.img-fluid.card-img.z-depth-2{alt: team_member.name + " image", src: url_for(team_member.profile_image)}/
    .col
      .card-block.p-3
        %h4.card-title= team_member.name
        %p.card-text= team_member.bio_html.html_safe
