%section.spotlight.parallaxy.bg-cover.bg-size--cover.bottom-curvy{"data-spotlight" => "fullscreen", :style => "background-image: url(#{asset_url('https://live.staticflickr.com/65535/48384051232_39f66cea09_h.jpg')})"}
  %span.mask.bg-dark.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.text-center.text-md-left.justify-content-center
          .col-lg-10
            .text-center.mt-5
              %h1.display-1.text-white
                Our Team

%section
  .container.d-flex.align-items-center.mt-5.mb-5
    %h1.display-4.text-tertiary
      The people who run with Spectrum not only share the vision and values of our community, they embody it.
  .container.d-flex.align-items-center.mb-5
    %h2.text-tertiary
      We are ambassadors to the sport. We are mentors. We are competitors. We are family. Come run with us!

%section.bg-tertiary.pt-2.pb-2
  .container-fluid.p-5
    %h1.text-center.text-white
      Leadership
    .row.card-deck
      - @leaders.each do |leader|
        .col-4
          = render 'leader', team_member: leader

%section.bg-tertiary.pt-2.pb-2
  .container-fluid.p-5
    %h1.text-center.text-white
      Trail Blazers
    .row.card-deck
      - @blazers.each do |member|
        .col-3
          = render member
