%section.spotlight
  %span.mask.bg-dark.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.text-center.text-md-left.justify-content-center
          .col-lg-10
            .text-center.mt-5
              %h3.display-3.text-white
                Meet The Spectrum Race Team

%section
  .container.d-flex.align-items-center.mt-5.mb-5
    %h2.text-tertiary
      The people who run with Spectrum not only share the vision and values of our community, they embody it.
  .container.d-flex.align-items-center.mb-5
    %h4.text-tertiary
      We are ambassadors to the sport. We are mentors. We are competitors. We are family. Come run with us!

%section.bg-tertiary.pt-2.pb-2
  .container.p-5
    %h1.text-center.text-white
      Leadership
    - @leaders.in_groups_of(3, false).each do |leader_group|
      .row
        .col
          .card-deck
            - leader_group.each do |leader|
              = render 'leader', team_member: leader

  .container.p-5
    %h1.text-center.text-white
      Trail Blazers
    - @blazers.in_groups_of(4, false).each do |blazer_group|
      .row
        .col
          .card-deck
            - blazer_group.each do |blazer|
              = render blazer
