.card
  %img.card-img-top{alt: race.name, src: "https://picsum.photos/300/150/?random"}/
  .card-body
    %h5.card-title= race.name
    %p.card-text= race.short_description
  .card-footer
    %small.text-muted= local_time_ago(race.updated_at)
    .float-right
      = link_to edit_admin_event_race_path(@event, race), class: "btn btn-sm btn-warning" do
        Edit
