.card
  %table.table.table-responsive-md
    %thead.thead-light
      %tr
        %th{scope: "col"} Name
        %th{scope: "col"} Event
        %th{scope: "col"} Starts
        %th{scope: "col"} Participants
        %th{scope: "col"} Abandoned Registrations
        %th{scope: "col"} Pending Revenue
        %th{scope: "col"}
    %tbody
      - @races.each do |race|
        - cache race do
          = render "race_row", race: race.decorate
