%section.slice.slice-lg
  .container
    .d-sm-block.d-md-none
      %h1 Register
    .row
      .col-sm-12.col-md-3
        = render "events/card", event: @event.decorate, context_classes: "sticky-top sticky-top-offset-6"
      .col-sm-12.col-md-6
        .card
          .card-header.bg-secondary
            %ul.nav.nav-tabs.card-header-tabs.nav-fill
              %li.nav-item
                %a.nav-link.active{:href => "#"} Start
              %li.nav-item
                %a.nav-link.disabled{"aria-disabled" => "true", :tabindex => "-1"} Details
              %li.nav-item
                %a.nav-link.disabled{"aria-disabled" => "true", :tabindex => "-1"} Waiver
                %li.nav-item
                  %a.nav-link.disabled{"aria-disabled" => "true", :tabindex => "-1"} Payment
          .card-body
            = render "form"
