%section.slice.slice-lg
  .container.align-items-center
    .row
      .col-sm-12.col-md-3
        = render "races/card", race: @race.decorate
      .col-sm-12.col-md-6
        .card
          %ul.nav.nav-pills.nav-fill.flex-column.flex-sm-row
            %li.nav-item
              %a.nav-link.mb-sm-3.bg-primary.text-white 1. Info
            %li.nav-item
              %a.nav-link.mb-sm-3 2. Waiver
            %li.nav-item
              %a.nav-link.mb-sm-3 3. Payment
          .card-body
            = render "form"
