%section.bg-cover.bg-size--cover{"data-spotlight" => "fullscreen", :style => "background-attachment: fixed; background-image: url(#{url_for(@event.cover_photo)})"}
  %span.mask.bg-tertiary.alpha-5
  .spotlight-holder.py-lg.pt-lg-xl
    .container
      .col.align-items-center
        .row
          .col-sm-12.col-md-3
            = render "events/card", event: @event

          .col-sm-12.col-md-9
            .card
              .card-body
                = render "form"
