%section.slice.slice-lg
  .container
    .d-sm-block.d-md-none
      %h1 Register
    .row
      .col-sm-12.col-md-3
        = render "events/card", event: @event.decorate, context_classes: "sticky-top sticky-top-offset-6"
      .col-sm-12.col-md-6
        .card
          .card-header.pb-1
            = render "welcome_message"
          .card-body
            = render "form"
