%section.slice.slice-lg
  .container
    .row
      .col-sm-12.col-md-3
        = render "events/card", event: @event.decorate, context_classes: "sticky-top sticky-top-offset-6"
      .col-sm-12.col-md-6
        .card.border-primary
          .card-header.bg-primary
            %ul.nav.nav-tabs.card-header-tabs.nav-fill.nowrap
              %li.nav-item
                %a.nav-link.active{:href => "#"} Start
              %li.nav-item
                %a.nav-link.disabled{"aria-disabled" => "true", :tabindex => "-1"} Details
              %li.nav-item
                %a.nav-link.disabled{"aria-disabled" => "true", :tabindex => "-1"} Waiver
              %li.nav-item
                %a.nav-link.disabled{"aria-disabled" => "true", :tabindex => "-1"} Payment
          .card-body
            %h4 Start your Registration for #{@event.name}
            %p
              We are
              %strong.text-success so excited
              for
              %strong you
              to join us! Be sure to
              %a{href: "#"} sign in
              if you have an account!
            %hr
            = render "form"
