%aside#nav_docs.sidebar
  .sidebar-brand
    %h1
      %a{href: admin_dashboard_path}
        %span.text-primary.font-weight-900 Spectrum
        %small.font-weight-100 Admin
  .scrollbar-inner
    %ul.navigation.pr-3
      %li.navigation-title Dashboards
      %li.navigation-item
        %a.navigation-link{href: "#"} Summary
      %li.navigation-item
        %a.navigation-link{href: "#"} Events
      %li.navigation-item
        %a.navigation-link{href: "#"} Marketing

      %li.navigation-title Events
      %li.navigation-item
        %a.navigation-link{href: admin_events_path} List
      %li.navigation-item
        %a.navigation-link{href: new_admin_event_path} New
      %li.navigation-item
        %a.navigation-link{href: admin_locations_path} Locations

      %li.navigation-title Financial
      %li.navigation-item
        %a.navigation-link{href: "#"} Transactions
      %li.navigation-item
        %a.navigation-link{href: "#"} Discount Codes
      %li.navigation-item
        %a.navigation-link{href: "#"} Refunds

      %li.navigation-title Registrations
      %li.navigation-item
        %a.navigation-link{href: "#"} New
      %li.navigation-item
        %a.navigation-link{href: "#"} List

      %li.navigation-title Z-Other
      %li.navigation-item
        %a.navigation-link{href: "#"} Announcements
      %li.navigation-item
        %a.navigation-link{href: "#"} Team
      %li.navigation-item
        %a.navigation-link{href: "#"} Sponsors
