%aside#nav_docs.sidebar
  .sidebar-brand
    %h1.font-weight-400
      %a{:href => "../"}
        %span.font-weight-900 Spectrum
        Admin
  .scrollbar-inner
    %ul.navigation.pr-3
      %li.navigation-title Getting started
      %li.navigation-item
        %a.navigation-link{:href => "introduction.html"} Introduction
      %li.navigation-item
        %a.navigation-link{:href => "file-structure.html"} File structure
      %li.navigation-item
        %a.navigation-link{:href => "plugins.html"} Plugins
      %li.navigation-item
        %a.navigation-link{:href => "customization.html"} Customization
      %li.navigation-item
        %a.navigation-link{:href => "update.html"} Update
      %li.navigation-title Design elements
      %li.navigation-item
        %a.navigation-link{:href => "colors.html"} Colors
      %li.navigation-item
        %a.navigation-link{:href => "typography.html"} Typography
      %li.navigation-item
        %a.navigation-link{:href => "icons.html"} Icons
      %li.navigation-title Components
      %li.navigation-item
        %a.navigation-link{:href => "alerts.html"} Alerts
      %li.navigation-item
        %a.navigation-link{:href => "avatars.html"} Avatars
      %li.navigation-item
        %a.navigation-link{:href => "badges.html"} Badges
      %li.navigation-item
        %a.navigation-link{:href => "buttons.html"} Buttons
      %li.navigation-item
        %a.navigation-link{:href => "cards.html"} Cards
      %li.navigation-item
        %a.navigation-link{:href => "dropdowns.html"} Dropdowns
      %li.navigation-item
        %a.navigation-link{:href => "forms.html"} Forms
      %li.navigation-item
        %a.navigation-link{:href => "modal.html"} Modal
      %li.navigation-item
        %a.navigation-link{:href => "navbar.html"} Navbar
      %li.navigation-item
        %a.navigation-link{:href => "navs.html"} Navs
      %li.navigation-item
        %a.navigation-link{:href => "pagination.html"} Pagination
      %li.navigation-item
        %a.navigation-link{:href => "progress.html"} Progress
      %li.navigation-item
        %a.navigation-link{:href => "tables.html"} Tables
      %li.navigation-item
        %a.navigation-link{:href => "tooltips.html"} Tooltips
