%aside#nav_docs.sidebar
  .sidebar-brand
    %h1
      %a{href: admin_dashboard_path}
        %span.text-primary.font-weight-900 Spectrum
        %small.font-weight-100 Admin
  .scrollbar-inner
    %ul.navigation.pr-3
      %li.navigation-title
        %i.fas.fa-columns
        Dashboards
      %li.navigation-item
        %a.navigation-link{class: active_by_path(admin_dashboard_path), href: admin_dashboard_path} Main
      %li.navigation-item
        %a.navigation-link{href: "#"} Event
      %li.navigation-item
        %a.navigation-link{href: "#"} Marketing

      %li.navigation-title
        %i.far.fa-calendar-alt
        Events
      %li.navigation-item
        %a.navigation-link{href: admin_events_path} List
      %li.navigation-item
        %a.navigation-link{href: new_admin_event_path} New
      %li.navigation-item
        %a.navigation-link{href: admin_locations_path} Locations

      %li.navigation-title
        $
        Financial
      %li.navigation-item
        %a.navigation-link{href: "#"} Transactions
      %li.navigation-item
        %a.navigation-link{href: "#"} Discount Codes
      %li.navigation-item
        %a.navigation-link{href: "#"} Refunds

      %li.navigation-title
        %i.far.fa-list-alt
        Registrations
      %li.navigation-item
        %a.navigation-link{href: new_admin_registration_path} New
      %li.navigation-item
        %a.navigation-link{href: admin_registrations_path} List

      %li.navigation-title
        %i.fab.fa-elementor
        Settings
      %li.navigation-item
        %a.navigation-link{href: "#"} Menus
      %li.navigation-item
        %a.navigation-link{href: "#"} Home
      %li.navigation-item
        %a.navigation-link{href: "#"} Globals

      %li.navigation-title
        %i.fab.fa-ethereum
        Other
      %li.navigation-item
        %a.navigation-link{href: "#"} Announcements
      %li.navigation-item
        %a.navigation-link{href: "#"} Race Team
      %li.navigation-item
        %a.navigation-link{href: "#"} Sponsors
