%header.header.sticky-top
  = yield(:admin_area_title)
  %button.btn.btn-md.navigation-trigger.d-xl-none{"data-action" => "aside-open", "data-target" => "#AdminSidebar"}
    .navigation-trigger-inner
      %i.navigation-trigger-line
      %i.navigation-trigger-line
      %i.navigation-trigger-line
  .header-brand.d-xl-none
    %a{href: admin_dashboard_path}
      %img.img-fluid{src: asset_path("logo-no-text"), style: "max-width: 2rem;"}
      %small.font-weight-100 Admin
  .header-title.mt-1
    %h4.m-2.d-lg-none= yield :admin_area_title
    %h1.ml-2.d-none.d-lg-block= yield :admin_area_title
  .header-nav.ml-auto
    %ul.nav.align-items-center
      %li.nav-item.d-none.d-md-inline-block
        %a.nav-link{href: destroy_user_session_path} Sign Out
      %li.nav-item.d-none.d-md-inline-block
        %a.nav-link{href: admin_profile_path} Profile
      %li.nav-item.dropdown.d-md-inline-block
        %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: admin_profile_path, role: "button"}
          %img.avatar.avatar-md.mr-3.border.border-primary{alt: "User profile image.", src: asset_url("https://static1.squarespace.com/static/54243c3be4b062fcf1a0dab1/t/582d7e399de4bbdebee45e72/1523109268306/?format=750w")}/
