%header.header
  .navigation-trigger.d-xl-none{"data-action" => "aside-open", "data-target" => ".sidebar"}
    .navigation-trigger-inner
      %i.navigation-trigger-line
      %i.navigation-trigger-line
      %i.navigation-trigger-line
  .header-brand.d-xl-none
    %h1
      %a{href: admin_dashboard_path} Spectrum ADMIN
  .header-nav.ml-auto
    %ul.nav.align-items-center
      %li.nav-item.d-none.d-md-inline-block
        %a.nav-link{href: "#sign_out_path"} Sign Out
      %li.nav-item.d-none.d-md-inline-block
        %a.nav-link{href: "#admin_user_profile_path"} Profile
      %li.nav-item.dropdown.d-md-inline-block
        %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
          %img.avatar.avatar-md.mr-3{alt: "User profile image.", src: asset_url("thumb-1")}/
