%aside#AdminSidebar.sidebar
  .sidebar-brand
    %h1
      %a{href: admin_dashboard_path}
        %img.img-fluid{src: asset_path("logo-no-text"), style: "max-width: 2rem;"}
        %span.text-primary.font-weight-900 Spectrum
        %small.font-weight-100 Admin
  .scrollbar-inner
    %ul.navigation.pr-3
      %li.navigation-title
        %i.fas.fa-columns
        Dashboards
      %li.navigation-item
        %a.navigation-link{class: active_by_path(admin_dashboard_path), href: admin_dashboard_path} Main
      %hr
      %li.navigation-title
        %i.fab.fa-ethereum
        Manage
      %li.navigation-item
        %a.navigation-link{href: admin_events_path} Events
      %li.navigation-item
        %a.navigation-link{href: admin_locations_path} Locations
      %li.navigation-item
        %a.navigation-link{href: admin_mailings_path} Mailings
      %li.navigation-item
        %a.navigation-link{href: admin_races_path} Races
      %li.navigation-item
        %a.navigation-link{href: admin_registrations_path} Registrations
      %li.navigation-item
        %a.navigation-link{href: admin_participants_path} Participants
      %li.navigation-item
        %a.navigation-link{href: admin_series_index_path} Series
      %li.navigation-item
        %a.navigation-link{href: admin_sponsors_path} Sponsors
      %li.navigation-item
        %a.navigation-link{href: admin_team_members_path} Team
      %hr
      %li.navigation-title
        %i.far.fa-money-bill-alt
        Financial
      %li.navigation-item
        %a.navigation-link{href: admin_discount_codes_path} Discount Codes
      %li.navigation-item
        %a.navigation-link{href: admin_payments_path} Payments
      %li.navigation-item
        %a.navigation-link{href: admin_refunds_path} Refunds
      %hr
      %li.navigation-title
        %i.fa.fa-globe
        Public Pages
      %li.navigation-item
        %a.navigation-link{href: root_path} Home
      %li.navigation-item
        %a.navigation-link{href: admin_home_page_images_path} Home Page Images
