@each $size, $value in $spacers {
	.top-#{$size} {
		top: $value;
	}
	.right-#{$size} {
		right: $value;
	}
	.bottom-#{$size} {
		bottom: $value;
	}
	.left-#{$size} {
		left: $value;
	}
}

.sticky-top-offset-4 { top: 4rem; }
.sticky-top-offset-6 { top: 6rem; }
.sticky-top-offset-8 { top: 8rem; }
