%div.alert.alert-danger
  %strong Oh no!
  It looks like you have disabled javascript in your browser.
  This registration process really won't work until you enable
  javascipt. Here are some
  = succeed "." do
    %a{href: "https://www.enable-javascript.com/", target: "_blank"} instructions
    for how to enable JavaScript in your web browser.
