.card-header.bg-primary
  %ul.nav.nav-tabs.card-header-tabs.nav-fill.nowrap
    %li.nav-item
      %a.nav-link.text-white{href: edit_event_registration_path(event, registration)}
        Start
        %i.fa.fa-check-circle.text-success
    %li.nav-item
      %a.nav-link.text-white{href: wizard_path(:details)}
        Details
        %i.fa.fa-check-circle.text-success
    %li.nav-item
      %a.nav-link.text-white{href: wizard_path(:waiver)}
        Waiver
        %i.fa.fa-check-circle.text-success
    %li.nav-item
      %a.nav-link.active{href: "#"}
        Payment
        - if registration.paid?
          %i.fa.fa-check-circle.text-success
