- @events.each do |event|
  .col-lg-6
    .card.bg-dark.alpha-container.text-white.border-1.overflow-hidden
      %a{href: event_path(event), :target => "_blank"}
        .card-img-bg{:style => "background-image: url(#{event.default_cover_photo_url});"}
        %span.mask.bg-dark.alpha-5.alpha-4--hover
        .card-body.px-5.py-5
          %div{:style => "min-height: 300px;"}
            %h3.heading.h1.text-white.mb-3= event.name
            %p.mt-4.mb-1.h5.text-white.lh-180
              = event.short_description
            %p.mb-1.h5.lh-180
              - event.races.active.not_archived.each do |race|
                %span.badge.badge-lg.badge-primary.badge-uppercase= race.name
          %span.text-white.text-uppercase.font-weight-500{href: event_races_path(event)}
            Register Now
            %i.fas.fa-arrow-right.ml-2
