.card
  .card-header.py-4
    .d-flex.align-items-center
      %span.avatar.avatar-sm.bg-purple JD
      .avatar-content
        %h5.h6.mb-0 Featured Sponsor
        %small.d-block.text-muted New York, US
  .card-image
    %img.img-fluid{src: url_for(sponsor.logo)}/
  .card-body
    .row.mb-1
      .col
        .card-icon-actions.card-icon-actions-lg
          %a.love.active{:href => "#"}
            %i.fas.fa-heart
          %a{:href => "#"}
            %i.fas.fa-comment
      .col
        .card-icon-actions.card-icon-actions-lg.text-right
          %a{:href => "#"}
            %i.fas.fa-bookmark
    %h6.heading.h6.mb-3 23 likes
    %p.card-text With supporting text below as a natural lead-in to additional content.
