%tr
  %td= series.name
  %td
    .btn-group.float-right
      = link_to edit_admin_series_path(series),
        class: "btn btn-sm btn-outline-primary" do
        %i.fa.fa-edit
        Edit
      = link_to admin_series_path(series),
        method: :delete,
        class: "btn btn-sm btn-outline-danger" do
        %i.fa.fa-trash
        Remove
      %button.btn.btn-sm.btn-outline-primary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.sr-only Toggle Dropdown
      .dropdown-menu
        = link_to series_path(series),
          class: "dropdown-item" do
          %i.fa.fa-star
          Promo Page
