= content_for :admin_area_title do
  Series
.row
  .col-12
    = render "table"
.row.mt-3
  .col-12
    .float-right
      = link_to "New Series",
        new_admin_series_path,
        class: "btn btn-sm btn-success"
