%p
  This will be the series dashboard. It will show series-wide registrations.
  When a site user registers for a whole series,
  it will actually be a SeriesRegistration, which will add a participant to each
  race in the series.
