.card.border-success
  %img.card-img-top{alt: "Sponsor Logo", src: url_for(sponsor.logo)}/
  .card-body
    %h4.card-title= sponsor.name
    %p.card-text= sponsor.short_description
    %a.btn.btn-sm.btn-primary{href: edit_admin_sponsor_path(sponsor)} Edit
    = link_to admin_sponsor_path(sponsor), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do
      %i.fa.fa-trash
