= content_for :admin_area_title do
  Sponsors
.row
  - @sponsors.each do |sponsor|
    .col-sm-12.col-md-4
      = render sponsor
.row.mt-3
  .col-12
    .float-right
      = link_to "Create New Sponsor",
        new_admin_sponsor_path,
        class: "btn btn-sm btn-success"
