= content_for :admin_area_title do
  Volunteers
.row
  .col-12
    = render "admin/volunteers/filter_button_group"
.row
  .col
    %p.text-muted Inactive volunteers are highlighted in red
    = render "table"
.row
  .col
    .float-right
      = link_to "Create New Volunteer",
        volunteer_path,
        class: "btn btn-sm btn-success"
