%section.slice.slice-lg
  .container
    .row
      .col-sm-12.col-md-3
        .card
          .card-body
            %h4= current_user.full_name

      .col-sm-12.col-md-6
        .card
          .card-title
            %h4 Activity Feed
          .card-body
            %p stuff
      .col-sm-12.col-md-3
        = render @sponsor
