- selected = params[:filter_scope]
.row.mb-2
  .col
    .btn-group
      %a.btn.btn-sm.btn-outline-primary{href: admin_registrations_path(request.params.merge(filter_scope: :complete)), class: selected == 'completed' ? "active" : nil}
        %i.fas.fa-check-circle.text-success
        Complete
      %a.btn.btn-sm.btn-outline-primary{href: admin_registrations_path(request.params.merge(filter_scope: :in_progress)), class: selected == 'incomplete' ? "active" : nil}
        %i.fas.fa-circle-notch.text-warning
        In-Progress
      %a.btn.btn-sm.btn-outline-primary{href: admin_registrations_path(request.params.merge(filter_scope: :abandoned)), class: selected == 'abandoned' ? "active" : nil}
        %i.fas.fa-circle-notch.text-warning
        Abandoned
      %a.btn.btn-sm.btn-outline-primary{href: admin_registrations_path(request.params.merge(filter_scope: :cancelled_ordered_by_cancelled_at)), class: selected == 'cancelled_ordered_by_cancelled_at' ? "active" : nil}
        %i.fa.fa-ban.text-danger
        Cancelled
      %a.btn.btn-sm.btn-outline-primary{href: admin_registrations_path, class: selected == nil ? "active" : nil}
        %i.fa.fa-list
        ALL
    = link_to "See archived", archived_admin_registrations_path, class: 'text-tertiary'
