%table.table
  %thead
    %tr
      %th Race
      %th Participant
      %th Payment
      %th Billing
      %th

  %tbody
    - if @registrations.any?
      - @registrations.each do |registration|
        = render "registration_row", registration: registration.decorate
    - else
      %tr
        %td{colspan: 5} No registrations match this filter criteria.
