%table.table
  %thead
    %tr
      %th Event
      %th Race
      %th Name
      %th Email
      %th Division
      %th Mobile
      %th

  %tbody
    - @registrations.each do |registration|
      = render "registration", registration: registration.decorate
