%table.table
  %thead
    %tr
      %th Race
      %th Participant
      %th Payment
      %th Billing
      %th

  %tbody
    - @registrations.each do |registration|
      = render "registration_row", registration: registration.decorate
