= content_for :admin_area_title do
  Registrations
.row
  .col-12
    = render "admin/registrations/filter_button_group"
.row
  .col-12
    .card
      = render "table"
.row.mt-3
  .col
    = paginate @registrations
