.row
  .col-10
    %h1 Registrations
  .col-2
    = link_to new_admin_registration_path, class: "btn btn-md btn-success" do
      New
%br
.row
  .col
    - if @registrations.any?
      .card
        = render "table"
    - else
      .row
        .col
          .text-center
            %h4.text-muted.p-4
              No registrations exist yet.
