.row
  .col
    %h1 Registrations
  .col
    .float-right
      = link_to new_admin_registration_path, class: "btn btn-sm btn-success" do
        New
.row.mb-5
  .col
    .btn-group
      %button.btn.btn-outline-primary{:type => "button"}
        %i.fas.fa-hand-holding-usd
        Complete
      %button.btn.btn-outline-primary{:type => "button"}
        %i.fas.fa-circle-notch
        In-Progress
      %button.btn.btn-outline-primary{:type => "button"}
        %i.fa.fa-ban
        Cancelled

.row
  .col
    - if @registrations.any?
      .card
        = render "table"
    - else
      .row
        .col
          .text-center
            %h4.text-muted.p-4
              No registrations exist yet.
