.row
  .col-8
    %h1 Registrations
  .col-4
    .float-right
      = render "admin/registrations/filter_button_group"

.row
  .col
    .card
      = render "table"
.row.mt-3
  .col
    = paginate @registrations
