.row
  .col
    %h1 Registrations
  .col
    .float-right
      = link_to new_admin_registration_path, class: "btn btn-sm btn-success" do
        New
%br
.row
  .col
    - if @registrations.any?
      .card
        = render "table"
    - else
      .row
        .col
          .text-center
            %h4.text-muted.p-4
              No registrations exist yet.
