Hi #{@volunteer.first_name}!

Thank you for signing up to volunteer with us at #{@event.name} on #{@event.starts_at_date_string} hosted at #{@event.location_name}.

We're excited to share this race experience with you and all of the hard-working racers that will toe the line. Expect a follow-up email from us to coordinate the final details about your volunteer role.

Happy trails,

Jason, Mallory, and Paxton
