/* Coolors Exported Palette - coolors.co/14248a-89bd9e-3c153b-ffa630-8b1e3f */

/* HSL */
$primary: hsla(232%, 75%, 31%, 1);
$success: hsla(144%, 28%, 64%, 1);
$info: hsla(302%, 48%, 16%, 1);
$warning: hsla(34%, 100%, 59%, 1);
$danger: hsla(342%, 64%, 33%, 1);
