= content_for :admin_area_title do
  Discount Codes
.row
  .col
    = render "table"
.row.mt-3
  .col-12
    .float-right
      = link_to new_admin_discount_code_path, class: "btn btn-sm btn-success" do
        %i.fa.fa-plus
        Create New Discount Code
