.covid-procedures h1 {
  text-align: left;
  color: #FFFFFF;
  margin-top: $spacer * 3;
}

.covid-procedures h2 {
  text-align: center;
  color: #FFFFFF;
  margin-top: $spacer * 3;
}

.covid-procedures p {
  color: #FFFFFF;
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  line-height: 1.8;
  margin-top: $spacer;
}

.covid-procedures li {
  color: #FFFFFF;
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
  line-height: 1.8;
}

.covid-procedures a:link {
  color: #FFFFFF;
  text-decoration: underline;
}

.covid-procedures a:visited {
  color: #800080;
}

.covid-procedures a:hover {
    color: #0000FF;
}
