/*

Add your custom styles below

*/

.scrolled-tertiary {
  background-color: $tertiary;
  padding-top: 12px;
  padding-bottom: 12px;
}

nav.navbar{
   // Animation Control
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}
