/*

Copy and paste the variables that you want to modify from _variables.scss. The default ones will be overridden.

*/


//$body-bg: #fff;

$white: #fff;
$black: #000;
$font-size-md: ($font-size-base * 1.01);

$spectrum-blue: #5EB0F4;
$spectrum-red: #C84343;
$spectrum-green: #A5BF62;
