#newsletter_signup {
  background-color: #1F2A3D;
  color: #FFFFFF;
  border-color: #1222DD;
  border-radius: 4px;
  padding: 20px;

  input[type=submit] {
    background-color: #F40B0B;
    color: #FFFFFF
  }
}
