%section.slice#LocationSection
  .row
    .col
      %h2 Location
      .my-2
        = image_tag location.default_cover_photo_url, class: "img img-fluid rounded"
      = raw location.description_html
  .row
    - location.promo_photos.each do |promo_photo|
      %a.col-4.p-1{"data-gallery" => "example-gallery", "data-toggle" => "lightbox", href: url_for(promo_photo)}
        = image_tag promo_photo, class: "img img-fluid rounded"
