.card.bg-black.sticky-top.sticky-top-offset-4.mb-3
  %img.img-fluid.img-center{src: url_for(@event.logo)}
  #EventMenu.list-group
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#OverviewSection"} Overview
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#RegistrationSection"} Registration
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#ScheduleSection"} Schedule
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#DetailsSection"} Details
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#CoursesSection"} Courses
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#PhotosSection"} Photos
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#LocationSection"} Location
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#LodgingSection"} Lodging
    %a.list-group-item.list-group-item-action.d-flex.align-items-center{href: "#FaqSection"} FAQ
