%section
  .container-fluid.px-0
    .card-group.flex-column.flex-md-row
      .card.bg-primary.text-white.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2.text-white Rugged
          %p.mt-4
            Our races are designed to
            %i challenge
            your entire breadth of trail running skills. Big climbs, technical descents, and some of the best scenery you'll find running trails in Texas.
      .card.bg-secondary.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2 Welcoming
          %p.mt-4 We believe that our community is what truly makes us special. From elite speedsters, to committed pack runners, we have a place for you at our races.
      .card.bg-tertiary.text-white.px-4.px-lg-5.py-5.rounded-0.border-0.mb-0
        .card-body
          %h1.heading.h2.text-white Festive
          %p.mt-4
            From check-in to crossing the finish line (and beyond) you will find yourself in a lively, festive atmosphere.
