%section.spotlight.parallaxy.bg-cover.bg-size--cover.bottom-curvy{"data-spotlight" => "fullscreen", :style => "background-image: url(#{asset_url('https://images.unsplash.com/photo-1531220057295-ed4db91cecc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80')})"}
  %span.mask.bg-dark.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.text-center.text-md-left.justify-content-center
          .col-lg-10
            .text-center.mt-5
              %h1.heading.h1.text-white
                The Best Trail Racing in Texas
              %p.lead.lh-180.text-white.mt-3
                %strong.h3.text-white.text-success Spectrum Trail Racing
                is a community of hard working, big loving, long-running trail blazers.
                Looking to make friends or test your distance or speed limits? You’re in the right place.
              .mt-5
                %a.btn.btn-primary.mr-3{href: "#EventsGrid"} Events
                %a.btn.btn-secondary{href: about_path} About
