%section.spotlight.parallaxy.bg-cover.bg-size--cover.bottom-curvy{"data-spotlight" => "fullscreen", :style => "background-image: url(#{asset_url('https://live.staticflickr.com/65535/48121657548_bde97bc57e_o.png')})"}
  %span.mask.bg-dark.alpha-7
  .spotlight-holder.py-lg.pt-lg-xl
    .container.d-flex.align-items-center.no-padding
      .col
        .row.cols-xs-space.text-center.text-md-left.justify-content-center
          .col-lg-10
            .text-center.mt-5
              %h1.text-white.nanum
                Welcome to a community of hard-working, big loving trailblazers.
                %br
                Ready to make friends and test your limits? You’re in the right place.
              .mt-5
                %a.btn.btn-primary.mr-3{href: "#EventsGrid"} Events
