%section.slice.sct-color-1
  .container
    .row.cols-xs-space.cols-sm-space.align-items-center
      .col-md-6
        %img.img-center.img-fluid.rounded.z-depth-3{src: asset_path("https://lh3.googleusercontent.com/xAEhsuGk80nIs0UlssfPia4JJfjBcTU25RUexaru1Bo3Vs62EZ0XU2v1Q4nsjFvB6oXimKkZYee8WgmsmWb6VPKczogedbC4iYji-wXIm3oa31FxciO3OJgUoMbSP-LzKvDtVZeyhiDMV_GpNy5W4gqogETsm0ssExfA_-KmY9_jl_ntLiLW8qMVEY6OTVVu08Ln44A2MvJ1qGPRSni8lcLo8Dxxsh1kv-mA4X7WJYcyPcwvzo50YOr2c2UiyTBvRGiXiU4NGpw5XILj2nq_IzqSD4WjAs1PdYEDKY4znh9071Gsfx5JXqIoUxHPeayTYNPfxPc5LzxbJAx7_fjfkQF9sDoeVLr-ujvx6dr_bge98WLp5kPXVe5yIHZgKfK6Yex85k1SM8P2HiEmdFEK5-aUL3xNeAOwu-3_xPSY7IhhI4muTkSd9K-eKwXjjnLPonWJxut_V2O9t1DHCSSq8OcxVa22Nol2mR9-eElzEWlpYrg-JQjwTGhYt85liXUKcvOuPxmgINh23n5ktpWF7VslFIKqEXshW-yUria7awNQjZ6ltFn2iRWCpljX1hugLrtWxDQ6JInEbUgyJOUiU5QLW_s8JeZdo5XowjczQA-4qwDhXdhxaSY0HgmjeV_L58oc7G8BWE5SrhP2xccIDRLf7XYRoU9StzmGp9QDARUozA3k6oH-INbLkC4DMQmXzMa_F43N5ZY3yQGYwg=w2668-h2000-no")}/
      .col-md-6.col-lg-5.ml-lg-auto
        .pr-md-4
          %h3.heading.heading-3.strong-500
            Start building now a beautiful website.
          %p.lead.text-gray.mt-4
            Take up one idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone.
