%section
  .container
    .row.mt-5.mb-5.text-center
      .col
        %div{:style => "padding:56.25% 0 0 0;position:relative;"}
          %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://cdn.forms-content.sg-form.com/a6949964-1329-11ea-901d-728295ace1fb", :title => "newsletter-signup", :style => "position:absolute;top:0;left:0;width:100%;height:100%;", :webkitallowfullscreen => ""}
          
