%section.slice.slice-lg
  .container
    .mb-5.text-center
      %h3.heading.h2 Stay tuned with our company news
      .fluid-paragraph.text-center
        %p.lead.mb-0 Daily insights from our company
    .row.cols-md-space.cols-sm-space.cols-xs-space
      .col-lg-4
        .card.border-0
          %img.img-fluid.img-center.rounded.z-depth-2{src: asset_path("https://static1.squarespace.com/static/54243c3be4b062fcf1a0dab1/t/5b8973f4cd8366a17ced26bb/1535734908687/SpectrumGoodwater-17.jpg")}/
          .pt-4
            %span.text-muted Oct 15, 2018
            %a.heading.h4.d-block.mt-1{:href => "#"} Listen to the nature
            %p.mt-3
              When we strive to become better than we are, everything around us becomes better, too.
      .col-lg-4
        .card.border-0
          %img.img-fluid.img-center.rounded.z-depth-2{src: asset_path("https://static1.squarespace.com/static/54243c3be4b062fcf1a0dab1/t/5b8973a3aa4a9930cefd055c/1535734719380/Goodwater.jpg")}/
          .pt-4
            %span.text-muted Oct 15, 2018
            %a.heading.h4.d-block.mt-1{:href => "#"} Listen to the nature
            %p.mt-3
              When we strive to become better than we are, everything around us becomes better, too.
      .col-lg-4
        .card.border-0
          %img.img-fluid.img-center.rounded.z-depth-2{src: asset_path("https://static1.squarespace.com/static/54243c3be4b062fcf1a0dab1/t/5b8973a3aa4a9930cefd055c/1535734719380/Goodwater.jpg")}/
          .pt-4
            %span.text-muted Oct 15, 2018
            %a.heading.h4.d-block.mt-1{:href => "#"} Listen to the nature
            %p.mt-3
              When we strive to become better than we are, everything around us becomes better, too.
    .text-center.mt-5
      %a.text-uppercase{:href => "#"}
        All posts
        %i.fas.fa-arrow-right.ml-2
