%section.slice-lg
  .container
    .row.align-items-center.cols-xs-space.cols-sm-space.cols-md-space
      .col-lg-6.order-lg-2.ml-lg-auto
        .block.block-image
          %img.img-fluid.img-center{src: asset_path("https://static1.squarespace.com/static/54243c3be4b062fcf1a0dab1/t/5bbf884e0d929792c0575167/1539298374064/SkyIsland2018.jpg")}/
      .col-lg-5.order-lg-1
        .row-wrapper
          .row
            .col
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fab.fa-twitter
                .icon-text
                  %h3.heading.h4 Latest Bootstrap framework
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
          .row
            .col
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fab.fa-sass
                .icon-text
                  %h3.heading.h4
                    Built with Sass
                    %small (included)
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
          .row
            .col
              .d-flex.align-items-start
                .icon.icon-lg
                  %i.fas.fa-tint
                .icon-text
                  %h3.heading.h4 Extended color palette
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
