%section.slice
  .container
    .mb-md.text-center
      %h3.heading.h2
        Proudly supported by some
        %span.text-primary amazing
        sponsors
      .fluid-paragraph.mt-3
        %p.lead Support us by supporting them!
    .row
      .d-flex.align-content-center.flex-wrap
        - sponsors.each do |sponsor|
          .col
            .px-4.py-4.rounded
              %img.img-fluid{src: sponsor.default_logo_url}
