- flash.keys.each do |key|
  - toastr_key = 'success' if key == 'success'
  - toastr_key = 'info' if key == 'notice'
  - toastr_key = 'warning' if key == 'alert'
  - toastr_key = 'danger' if key == 'danger'
  :coffeescript
    toastr['#{toastr_key}'] '#{flash[key]}'
