%nav.navbar.navbar-expand-lg.bg-primary
  .container.justify-content-center.p-2
    %h5.m-0.text-white
      %i.fas.fa-exclamation-circle
      Visit our
      %a.text-white{href: covid_path, :style => "text-decoration: underline;"} COVID-19 resources page
      for current guidelines and race information.
