%footer.pt-5.pb-3.footer.footer-dark.bg-tertiary.footer-public
  .container
    .row
      .col-12.col-md-4
        .pr-lg-5
          %h1.heading.h6.text-uppercase.font-weight-700.mb-3
            %img.img-fluid{src: asset_path("logo-no-text"), style: "max-width: 4rem;"}
            %strong Spectrum
            %small.text-muted Trail Racing
          %p Spectrum Trail Racing is a trail race production company, with a line up of eight high-end, scenic, well-marked trail races, with an after party that is full of local flare. We like beer (the craft, local kind), pizza (made in a brick oven at the finish line), and live music (wouldn’t be a proper Austin celebration without it!), so that’s what you’ll find at our celebrations!
      .col-6.col-md
        %h5.heading.h6.text-uppercase.font-weight-700.mb-3 Series
        %small.text-muted Coming soon!

      .col
        %h5.heading.h6.text-uppercase.font-weight-700.mb-3 Events
        %ul.list-unstyled.text-small
          - @menu_events.each do |event|
            %li
              %a.text-muted{href: event_path(event)}= event.name
      .col
        %h5.heading.h6.text-uppercase.font-weight-700.mb-3 Cool Stuff
        %ul.list-unstyled.text-small
          %li
            %a.text-muted{href: about_path} About
          %li
            %a.text-muted{href: coaching_path} Coaching
          %li
            %a.text-muted{href: "https://store.spectrumtrailracing.com"} Store
          %li
            %a.text-muted{href: "https://www.strava.com/clubs/spectrumtrail"} Strava
          %li
            %a.text-muted{href: team_members_path} Team
      .col
        %h5.heading.h6.text-uppercase.font-weight-700.mb-3 Boring Stuff
        %ul.list-unstyled.text-small
          %li
            %a.text-muted{href: policies_path} General Policies
          %li
            %a.text-muted{href: privacy_path} Privacy
          %li
            %a.text-muted{href: terms_path} Terms

    .d-flex.align-items-center.mt-4
      %span
        © 2019 Spectrum Trail Racing
      %ul.nav.ml-lg-auto
        %li.nav-item
          %a.nav-link{href: "https://www.instagram.com/spectrumtrail/", target: "_blank"}
            %i.fab.fa-instagram.text-white
        %li.nav-item
          %a.nav-link{href: "https://www.facebook.com/spectrumtrailracing/", target: "_blank"}
            %i.fab.fa-facebook.text-white
        %li.nav-item
          %a.nav-link{href: "https://www.strava.com/clubs/spectrumtrail", target: "_blank"}
            %i.fab.fa-strava.text-white
