%footer.pt-5.pb-3.footer.footer-dark.bg-tertiary.footer-public
  .container
    .row
      .col-12.col-md-4
        .pr-lg-5
          %h1.heading.h6.text-uppercase.font-weight-700.mb-3
            %img.img-fluid{src: asset_path("logo-no-text"), style: "max-width: 4rem;"}
            %strong Spectrum
            %small.text-muted Trail Racing
          %p Spectrum Trail Racing is a trail race production company, with a line up of eight high-end, scenic, well-marked trail races, with an after party that is full of local flare. We like beer (the craft, local kind), pizza (made in a brick oven at the finish line), and live music (wouldn’t be a proper Austin celebration without it!), so that’s what you’ll find at our celebrations!
      .col-6.col-md
        %h5.heading.h6.text-uppercase.font-weight-700.mb-3 Series
        %ul.list-unstyled.text-small
          %li
            %a.text-muted{href: "#"} Excursion
          %li
            %a.text-muted{href: "#"} Rogue
          %li
            %a.text-muted{href: "#"} Water

      .col
        %h5.heading.h6.text-uppercase.font-weight-700.mb-3 Events
        %ul.list-unstyled.text-small
          %li
            %a.text-muted{href: "#"} Aurora
          %li
            %a.text-muted{href: "#"} Goodwater
          %li
            %a.text-muted{href: "#"} Sky Island
          %li
            %a.text-muted{href: "#"} The Circus
          %li
            %a.text-muted{href: "#"} The Escarpment
          %li
            %a.text-muted{href: "#"} The Game
          %li
            %a.text-muted{href: "#"} The Maze
          %li
            %a.text-muted{href: "#"} The Stampede
          %li
            %a.text-muted{href: "#"} The Tangle
          %li
            %a.text-muted{href: "#"} Wonderland
      .col
        %h5.heading.h6.text-uppercase.font-weight-700.mb-3 Cool Stuff
        %ul.list-unstyled.text-small
          %li
            %a.text-muted{href: "#"} About
          %li
            %a.text-muted{href: "#"} Coaching
          %li
            %a.text-muted{href: "#"} Store
          %li
            %a.text-muted{href: "#"} Strava
          %li
            %a.text-muted{href: "#"} Team
          %li
            %a.text-muted{href: "#"} Memberships
      .col
        %h5.heading.h6.text-uppercase.font-weight-700.mb-3 Boring Stuff
        %ul.list-unstyled.text-small
          %li
            %a.text-muted{href: "#"} Policies
          %li
            %a.text-muted{href: "#"} Privacy
          %li
            %a.text-muted{href: "#"} Terms

    .d-flex.align-items-center.mt-4
      %span
        © 2019 Spectrum Trail Racing
      %ul.nav.ml-lg-auto
        %li.nav-item
          %a.nav-link.active{href: "https://www.instagram.com/spectrumtrail/", target: "_blank"}
            %i.fab.fa-instagram
        %li.nav-item
          %a.nav-link{href: "https://www.facebook.com/spectrumtrailracing/", target: "_blank"}
            %i.fab.fa-facebook
