%ul.navbar-nav.ml-auto.align-items-lg-center
  %h6.dropdown-header.font-weight-600.d-lg-none.px-0 Menu
  %li.nav-item.dropdown
    %a#navbar_series_dropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"} Series
    .dropdown-menu{"aria-labelledby" => "navbar_series_dropdown"}
      - @menu_series.each do |series|
        %a.dropdown-item{href: series_path(series)}= series.name
  %li.nav-item.dropdown
    %a#navbar_events_dropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"} Events
    .dropdown-menu{"aria-labelledby" => "navbar_events_dropdown"}
      - @menu_events.each do |event|
        %a.dropdown-item{href: event_path(event)}= event.name
  %li.nav-item
    %a.nav-link{href: about_path} About
  %li.nav-item
    %a.nav-link{href: "https://store.spectrumtrailracing.com", target: "_blank"} Store
  %li.nav-item
    - if current_user
      %a.nav-link.d-lg-none{href: destroy_user_session_path} Sign Out
      %a.btn.btn-sm.bg-white.d-none.d-lg-inline-flex{href: destroy_user_session_path} Sign Out
    - else
      %a.nav-link.d-lg-none{href: new_user_session_path} Sign In
      %a.btn.btn-sm.bg-white.d-none.d-lg-inline-flex{href: new_user_session_path} Sign In
  .dropdown-divider.d-lg-none.my-4
  %h6.dropdown-header.font-weight-600.d-lg-none.px-0 Social Media
  %li.nav-item.d-lg-none
    %a.nav-link.nav-link-icon{:href => "https://www.strava.com/clubs/spectrumtrail", target: "_blank"}
      %i.fab.fa-strava
      %span.ml-2.d-lg-none Strava
  %li.nav-item.d-lg-none
    %a.nav-link.nav-link-icon{:href => "https://www.instagram.com/spectrumtrail/", target: "_blank"}
      %i.fab.fa-instagram
      %span.ml-2.d-lg-none Instagram
  %li.nav-item.d-lg-none
    %a.nav-link.nav-link-icon{:href => "https://www.facebook.com/spectrumtrailracing/", target: "_blank"}
      %i.fab.fa-facebook
      %span.ml-2.d-lg-none Facebook
