%nav.navbar.navbar-expand-lg.navbar-transparent.navbar-dark.bg-dark.py-4
  .container
    %a.navbar-brand{href: root_path}
      %img.img-fluid{src: asset_path("brand/logo-no-text"), style: "max-width: 4rem;"}
      %span.text-white Spectrum Trail Racing
    %button.navbar-toggler{"aria-controls" => "navbar_main", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-action" => "offcanvas-open", "data-target" => "#navbar_main", :type => "button"}
      %span.navbar-toggler-icon
    #navbar_main.navbar-collapse.offcanvas-collapse
      %ul.navbar-nav.ml-auto.align-items-lg-center
        %h6.dropdown-header.font-weight-600.d-lg-none.px-0 Menu
        %li.nav-item.dropdown
          %a#navbar_series_dropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"} Series
          .dropdown-menu{"aria-labelledby" => "navbar_series_dropdown"}
            %a.dropdown-item{href: "#"} Water
            %a.dropdown-item{href: "#"} Excursion
            %a.dropdown-item{href: "#"} Rogue
        %li.nav-item.dropdown
          %a#navbar_races_dropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"} Races
          .dropdown-menu{"aria-labelledby" => "navbar_races_dropdown"}
            %a.dropdown-item{href: "#"} Goodwater
            %a.dropdown-item{href: "#"} The Escarpment
            %a.dropdown-item{href: "#"} The Game
            %a.dropdown-item{href: "#"} Aurora
            %a.dropdown-item{href: "#"} Sky Island
            %a.dropdown-item{href: "#"} Wonderland
            %a.dropdown-item{href: "#"} The Circus
            %a.dropdown-item{href: "#"} The Maze
            %a.dropdown-item{href: "#"} The Tangle
            %a.dropdown-item{href: "#"} The Stampede
        %li.nav-item
          %a.nav-link{href: static_pages_about_path} About
        %li.nav-item
          %a.nav-link{href: static_pages_about_path} Store
        %li.nav-item
          %a.nav-link.d-lg-none{href: "new_user_session_path"} Sign In
          %a.btn.btn-sm.bg-white.d-none.d-lg-inline-flex{href: "new_user_session_path"} Sign In
        .dropdown-divider.d-lg-none.my-4
        %h6.dropdown-header.font-weight-600.d-lg-none.px-0 Social Media
        %li.nav-item.d-lg-none
          %a.nav-link.nav-link-icon{:href => "https://www.facebook.com/spectrumtrailracing/", target: "_blank"}
            %i.fab.fa-instagram
            %span.ml-2.d-lg-none Instagram
        %li.nav-item.d-lg-none
          %a.nav-link.nav-link-icon{:href => "https://www.instagram.com/spectrumtrail/", target: "_blank"}
            %i.fab.fa-facebook
            %span.ml-2.d-lg-none Facebook
