%h2 ADMIN Menu
%hr
%nav.nav.nav-pills.flex-column
  %a.nav-link{class: active_by_text("location"), href: admin_locations_path}
    Locations
  %a.nav-link{class: active_by_text("event"), href: admin_events_path}
    Events
