.list-group
  %a.list-group-item.list-group-item-action{class: active_by_path(root_path), href: root_path} Home
  %a.list-group-item.list-group-item-action{class: active_by_text("location"), href: admin_locations_path} Locations
  %a.list-group-item.list-group-item-action{class: active_by_text("event"), href: admin_events_path} Events
