%nav.nav.nav-pills.flex-column
  %a.nav-link{class: active_by_path(root_path), href: root_path}
    Home
  %a.nav-link{class: active_by_text("location"), href: admin_locations_path}
    Locations
  %a.nav-link{class: "active", href: admin_events_path}
    Events
