.list-group
  %a.list-group-item.list-group-item-action{class: active_class(root_path), href: root_path} Home
  %a.list-group-item.list-group-item-action{class: active_class(admin_locations_path), href: admin_locations_path} Locations
